########################
# compiled files
########################
docs/*

########################
# node.js / npm
########################
node_modules/*
package-lock.json



########################
# os
########################
.DS_Store