extends layouts/web3

block title
    title
      | About | Blockchain Institute

block description
  meta(name='description', content='Information about distributed ledger technology and how it will impact your life.')

block content
  - var nav = "industry";
  - var bannerMsg = "Web 3.0";
  - var bannerFocus = "";
  - var home = 'nothome';
  - var bannerImage = "images/web3_1.png";
  - var sectionImage = "images/web3_5.png";
  include includes/header
  include includes/banner
  include includes/about-header

  - var image = "images/taylor.jpeg";
  - var name = "Taylor Gerring";
  - var title = "Executive Director";
  - var description = "After graduating with a BSBA in MIS from the University of Central Florida, Taylor deployed and managed a variety of systems for large enterprise environments before ultimately joining the blockchain industry in 2012. After working with Bitcoin and the Hive cryptocurrency wallet, Taylor helped establish the Ethereum Foundation and is currently an international speaker, educator, and blockchain consultant. ";
  include includes/profile_right

  - var image = "images/jordan.jpg";
  - var name = "Jordan Ruiz";
  - var title = "Secretary, Treasurer and Operations Manager";
  - var description = "Jordan has been involved in with cryptocurrencies and blockchain technology since 2015. He is a certified bitcoin professional and is an advocate for the advancement of cryptocurrencies and blockchain technology.";
  include includes/profile_right       

  - var image = "images/andrew.jpg";
  - var name = "Andrew Gordon";
  - var title = "Director";
  - var description = "Andrew Gordon is an attorney and CPA at the Gordon Law Group. Andrew has been active in the blockchain and cryptocurrency space since 2013, both as an investor and a service provider.";
  include includes/profile_right

  - var image = "images/hannah.jpg";
  - var name = "Hannah Rosenberg";
  - var title = "Director";
  - var description = "Hannah Rosenberg is a developer, economist and entrepreneur with a degree in Economics from the University of Illinois at Chicago. She is the founder of Velas Commerce, a Blockchain training and consultancy business, and is the organizer of Chicago’s largest blockchain community group, the Bitcoin and Open Blockchain Meetup.";
  include includes/profile_right

  - var image = "images/jason.jpeg";
  - var name = "Jason Kin Hoi Fang";
  - var title = "Director";
  - var description = "Jason is the Managing Partner at Sora Ventures, Asia’s first crypto- backed venture capital firm dedicated to blockchain and digital asset investments. He is also the founder of Sora Foundation, an initiative that consists of blockchain development, community development, and conferences. Jason has a background is UI/UX design, iOS frontend development, and a bachelor of science from Bentley University in Massachusetts where he majored in Finance and minored in Law.";
  include includes/profile_right    

 