extends layouts/main

block title
    title
      | Contact | Blockchain Institute

block description
  meta(name='description', content='Information about distributed ledger technology and how it will impact your life.')

block content
  - var nav = 'contact';
  - var bannerMsg = "How can we ";
  - var bannerFocus = "help?";
  - var home = 'nothome';
  include includes/header	
  include includes/contact








