extends ../layouts/main

block title
    title
      | Events | Blockchain Institute

block description
  meta(name='description', content='Information about distributed ledger technology and how it will impact your life.')

block content
  - var nav = "events";
  - var bannerMsg = "Events";
  - var bannerFocus = "";
  - var bannerImage = "images/events-banner.png";
  - var home = 'nothome';
  - var sectionImage = "images/web3_5.jpeg";

  include ../includes/header
  include ../includes/banner

    // - var tile_section_header = "Web 3.0 light reading";
  - var tile_1_header = "Pizza Day!";
  - var tile_1_subHeader = "The Bitcoin and Open Blockchain Meetup promotes blockchain adoption and hosts developer seminars";
  - var tile_1_image = "images/bob_meetup_pizza_day.jpeg";
  - var tile_1_link = "https://blockchain.wtf/2018/05/blog/bitcoin-pizza-day-celebrated-by-chicago-community/";

  - var tile_2_header = "Girlcon";
  - var tile_2_subHeader = "GirlCon is a Chicago-based founded to encourage middle and high school girls to feel empowered in reaching their goals in STEM and tech fields.";
  - var tile_2_image = "images/girlcon.png";
  - var tile_2_link = "http://girlcon.io/";

  - var tile_3_header = "The Voice of Chicago";
  - var tile_3_subHeader = "The Voice of Chicago is Chicago's premier blockchain education conference.";
  - var tile_3_image = "images/cbp.png";
  - var tile_3_link = "http://chicagoblockchainproject.com/voice-of-blockchain/";  



  include includes/events
  include includes/tiles
  








