extends layouts/main

block title
    title
      | Events | Blockchain Institute

block description
  meta(name='description', content='Information about distributed ledger technology and how it will impact your life.')

block content
  - var nav = "events";
  - var bannerMsg = "Physical events for a digital world";
  - var bannerFocus = "";
  - var bannerImage = "images/events-banner.png";
  - var home = 'nothome';
  include includes/header
  include includes/banner
  include includes/events
  include includes/services-c








