extends layouts/industry

block title
    title
      | Finance | Blockchain Institute

block description
  meta(name='description', content='Information about distributed ledger technology and how it will impact your life.')

block content
  - var nav = "industry";
  - var bannerMsg = "Blockchain in ";
  - var bannerFocus = "Finance";
  - var sectionImage = "images/web3_5.png";
  - var bannerImage = "images/prysm_banner.png";
  - var home = 'nothome';
  include includes/header
  include includes/banner
  include includes/finance
  include includes/testimonials







