extends layouts/main

block title
    title
      | Healthcare | Blockchain Institute

block description
  meta(name='description', content='Information about distributed ledger technology and how it will impact your life.')

block content
  - var nav = "industry";
  - var bannerImage = "healthcare_bg.png";
  - var bannerMsg = "Did you know?";
  - var bannerFocus = "Over 10 Million people had their medical records hacked in 2017.";
  include includes/header
  include includes/banner
  include includes/healthcare
  include includes/services-c








