extends layouts/main

block title
    title
      | The Blockchain Institute 

block description
  meta(name='description', content='Information about distributed ledger technology and how it will impact your life.')



block content
  - var nav = 'home';
  - var bannerMsg = "BLOCKCHAIN COULD CHANGE ";
  - var bannerFocus = "THE WORLD";
  - var subtitle = "Let's Build Something Together";
  - var bannerImage = "images/main.jpg";
  - var home = 'home';
  - var sectionImage = "images/glass-horiz.jpg";
  - var sectionImage_2 = "images/web3_3.png";
  include includes/header
  include includes/banner
  include includes/services
  include includes/testimonials
  include includes/services-b
  include includes/testimonials_2
  include includes/services_summary
  include includes/services-c







