extends layouts/main

block title
    title
      | The Blockchain Institute 

block description
  meta(name='description', content='Information about distributed ledger technology and how it will impact your life.')



block content
  - var nav = 'home';
  - var bannerMsg = "What is ";
  - var bannerFocus = "Web 3.0?";
  - var subtitle = "Help build the new internet - learn how for free!";
  - var bannerImage = "images/main.jpg";
  - var home = 'home';
  include includes/header
  include includes/banner
  include includes/services
  include includes/testimonials
  include includes/services-b
  include includes/services-c
  include includes/services_summary







