extends layouts/main

block title
    title
      | Programs | Blockchain Institute

block description
  meta(name='description', content='Information about distributed ledger technology and how it will impact your life.')

block content
  - var nav = "events";
  - var bannerMsg = "Programs";
  - var bannerFocus = "";
  - var bannerImage = "images/events-banner.png";
  - var home = 'nothome';

  - var tile_1_header = "Meetups";
  - var tile_1_subHeader = "The Bitcoin and Open Blockchain Meetup promotes blockchain adoption and hosts developer seminars, and bitcoin pizza parties!";
  - var tile_1_image = "images/bob_meetup_pizza_day.jpeg";
  - var tile_1_link = "https://www.meetup.com/Bitcoin-Open-Blockchain-Community-Chicago/";

  - var tile_2_header = "Media";
  - var tile_2_subHeader = "Blockchain.wtf explores the lighter side of this emerging field, and provides educational material in a friendly format.";
  - var tile_2_image = "images/wtf.jpg";
  - var tile_2_link = "https://blockchain.wtf/";

  - var tile_3_header = "Events";
  - var tile_3_subHeader = "The Voice of Chicago is Chicago's premier blockchain education conference.";
  - var tile_3_image = "images/cbp.png";
  - var tile_3_link = "http://chicagoblockchainproject.com/voice-of-blockchain/";  


  include includes/header
  include includes/banner

  include includes/programs
  include includes/tiles








