extends layouts/main

block title
    title
      | Supply Chain | Blockchain Institute

block description
  meta(name='description', content='Information about distributed ledger technology and how it will impact your life.')

block content
  - var nav = "supply-chain";
  - var bannerMsg = "Blockchain in ";
  - var bannerFocus = "Supply Chain";
  - var home = 'nothome';
  include includes/header
  include includes/banner
  include includes/supply-chain
  include includes/services-c








