extends layouts/plain

block title
    title
      | The Blockchain Institute 

block description
  meta(name='description', content='Information about distributed ledger technology and how it will impact your life.')



block content
  include includes/timeline-bar.jade








