extends layouts/web3

block title
    title
      | Web 3.0 | Blockchain Institute

block description
  meta(name='description', content='Information about distributed ledger technology and how it will impact your life.')

block content
  - var nav = "industry";
  - var bannerMsg = "Welcome to ";
  - var bannerFocus = "Web 3.0";
  - var home = 'nothome';
  - var bannerImage = "images/prysm_banner.png";
  - var sectionImage = "images/glass-banner.png";
  include includes/header
  include includes/banner
  include includes/web3_sections
  //- include includes/timeline  
  include includes/testimonials
  //- include includes/services-c








