section.about
  .container
    .row.ab-agile
      .col-md-6.aboutleft
        p.para1
          | Learning new technology isn't easy, but in-person events and hands on examples can make all the difference. The Blockchain Institute will be opening our flagship location in Chicago's Uptown neighborhood in Fall 2018, but until then we're proud to sponsor local events to promote decentralized technology.
        p
          i.fa.fa-check(aria-hidden='true')
          |  Hackathons
        p
          i.fa.fa-check(aria-hidden='true')
          |  Meetups
        p
          i.fa.fa-check(aria-hidden='true')
          |  Course Preparation   
        br
        p.para1.boldItalic
          | The Blockchain Institute is a proud sponsor of educational endeavors such as   
          a.externaLink(href='https://www.meetup.com/Bitcoin-Open-Blockchain-Community-Chicago/' target="_blank") The Chicago Bitcoin and Open Blockchain Meetup
          | , 
          a.externaLink(href='http://chicagoblockchainproject.com/voice-of-blockchain/' target="_blank") The Voice of Chicago Conference
          | , and online resources like  
          a.externaLink(href='https://blockchain.wtf/' target="_blank") Blockchain.wtf!

      .col-md-6.aboutright
        img.img-responsive(src='/images/events.jpg', alt='')
      br
    .clear



  // //wthree-mid      