.services-top-grids {
    top: 14.5em !important;
}

section.testimonials {
    min-height: 20em;
}

section.services {
    height: 40em;
}

img.nav_logo {
    max-height: 4em;
}
.carousel-caption span {
    color: #09d68e !important;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link {
    color: #1073aa !important;
}
.navbar-light .navbar-nav .active>.nav-link:hover, .navbar-light .navbar-nav .nav-link.active:hover, .navbar-light .navbar-nav .nav-link.open:hover, .navbar-light .navbar-nav .open>.nav-link:hover{
    color: #fc3f08 !important;
}
.ser_tp {
    border-radius: 0.2em;
     opacity: 0.8;
}

/* Set 'Current' Color for Nav */
ul.home>li.home>a.nav-link,
ul.news>li.news>a.nav-link,
ul.contact>li.contact>a.nav-link,
ul.industry>li.industry>a.nav-link{
    color: #1073aa !important
}

.wthree-mid.edu {
    padding-top: 8em;
}

.wthree-mid.edu {
    background: url(../images/books.jpg) no-repeat;
    background-size: cover;
}

.grid1 {
    max-height: 524px !important;
}

.carousel-caption {
	top: auto;
}

.carousel-item.active.nothome {
    max-height: 14em;
}

.carousel-caption.nothome {
    top: 3em;
}
a.readMoreButton {
    text-transform: uppercase;
    background: #e20a62;
    border-color: #e20a62;
}

span.bannerSubtitle {
    font-size: 2.5em;
    line-height: 1.5em;
    color: white !important;
    text-transform: capitalize;
}
.container.contactUs {
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.container.inside_services {
    text-align: justify;
}

.left {
    font-size: 5em;
    left: 1.5vw;
    position: absolute;
    height: inherit;
    padding-top: inherit;
    z-index: 2;
}

.right {
    font-size: 5em;
    z-index: 2;    
    left: 95vw;
    position: absolute;
    height: inherit;
    padding-top: inherit;
}

button.navbar-toggler.navbar-toggler-right {
     margin-top: 1.25em !important; 
}

a {
    color: #023b54;
}

.modal-dialog {
    max-width: 60% !important;
}

h4.modal-title {
    color: black !important;
}

.carousel-caption {
    left: 0%;
    right: 0%;
}


.carousel-caption h3 {
    text-transform: uppercase !important;
    font-weight: bolder;
}
.row.wthree-services-bottom-grids {
    margin-left: 10%;
}

/* Colors for 'Why Blockchain' */
.innergrid1.independance{
    border: 1px solid #ffdb06;
}
.innergrid1.independance:hover{
    background: #ffdb06;
    color: #000000;
}

.innergrid1.transparency{
    border: 1px solid #1073aa;
}
.innergrid1.transparency:hover{
    background: #1073aa;
    color: #000000;
}

.innergrid1.decentralization{
    border: 1px solid #06b7b2;
}
.innergrid1.decentralization:hover{
    background: #06b7b2;
    color: #000000;
}

.innergrid1.collaboration{
    border: 1px solid #e20a62;
}
.innergrid1.collaboration:hover{
    background: #e20a62;
    color: #000000;
}

.innergrid1.verifiability{
    border: 1px solid #fc3f0d;
}
.innergrid1.verifiability:hover{
    background: #fc3f0d;
    color: #000000;
}

.innergrid1.open{
    border: 1px solid #0ad88e;
}
.innergrid1.open:hover{
    background: #0ad88e;
    color: #000000;
}
.innergrid1 p {
    color: inherit !important;
}



/* Mobile Nav Bar */

.show>.dropdown-menu {
    display: inline-table !important;
    width: 100%;
}

.mobi {
    font-size: 5vw !important;
}

/* Case Study Images */
.serv-grid1 {
    background: url(../images/food_on_shelves.jpg) no-repeat 0px 0px !important;
    background-size: cover !important;
}
.serv-grid2 {
    background: url(../images/BI_DigitalMedia.jpg) no-repeat 0px 0px !important;
    background-size: cover !important;
}
.serv-grid3 {
    background: url(../images/BI_Automotive.jpg) no-repeat 0px 0px !important;
    background-size: cover !important;
}

/*p.margin {
    margin-top: 1.5ex;
}*/

.justify {
    text-align: justify;
}

.navbar-light .navbar-toggler {
    border-color: none !important;
    background: none !important;
}

h3.heading-agileinfo.why_us, h2.heading-agileinfo {
    color: #023b54 !important;
}

.services-bottom-info h5 {
    color: black !important;
}

.centered_Grid {
    height: auto;
    margin-top: 20%;
    margin-bottom: 20%;
}

h3.heading-agileinfo.why_us {
    margin-bottom: 3vh;
}
h2.heading-agileinfo {
    margin-bottom: 3vh !important;
}

.services-1, .special-w3l, section.services {
    padding-top: 3em !important;

}

.special-w3l .container h3.heading-agileinfo.why_us {
    margin-bottom: 0;
}

.testimonials {
 background: url(../images/glass-horiz.jpg) 0 !important;
}

.teal {
    color: #06b7b2 !important;
}
.magenta {
    color: #e20a62 !important;
}
.yellow {
    color: #ffdb06 !important;
}
.lightBlue {
    color: #1073aa !important;
}
.orange {
    color: #fc3f0d !important;
}
.green {
    color: #2fd151 !important;
}
.lightGreen {
    color: #0ad88e !important;
}

form#mc-embedded-subscribe-form {
    color: #808080;
    font-size: 14px;
    line-height: 1.8em;
    letter-spacing: 0.5px;
}

input#mc-embedded-subscribe {
    background: none;
    color: inherit;
    display: inline-table;
    border: none;
    max-width: 25%;
    font-size: inherit;
}
input#mce-EMAIL {
    background: #FFFFFF;
    color: black;
    max-width: 70%;
}
div#mce-success-response {
    color: white;
    font-size: inherit;
    padding: 1vh;
}
div#mce-error-response {
    font-size: 1em;
    padding: 1vh;

}

.mce_inline_error {
    font-size: inherit;
    padding: 1vh;
}
.mc-field-group {
    text-align: left;
}
#mc_embed_signup div.mce_inline_error {
    margin: 0 !important;
}

.col-sm-2.services-bottom-icon {
    right: 10%;
}

@media (max-width: 1000px) {
    .col-sm-2.services-bottom-icon {
        min-width: 100%;
        right: 0 !important;
    }
    .col-md-4, .col-md-8 {
        width: 100%;
    }
}

p.mobInfo {
    font-size: 2em !important;
    margin: 1em;
}

h3.nav-link.mobi {
    color: #818181 !important;
}

li.nav-item.mobiInfo {
    margin-top: 50%;
}
.timeline_iframe {
    height: 100% !important;
    width: 100% !important;
}


