@media (max-width:768px){
.grid_5 {
	padding: 0 0 1em;
}
.grid_3 {
	margin-bottom: 0em;
}
}
@media (max-width:640px){
h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: .5em;
}
.progress {
	height: 10px;
	margin-bottom: 10px;
}
ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
	font-size: 14px;
}
.breadcrumb {
	margin-bottom: 25px;
}
.well {
	font-size: 14px;
	margin-bottom: 10px;
}
h2.typoh2 {
	font-size: 1.5em;
}
.label {
	font-size: 60%;
}
.in-gp-tl {
	padding: 0 1em;
}
.in-gp-tb {
	padding-right: 1em;
}
}
@media (max-width:480px){
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	font-size: 1.2em;
}
.table h1 {
	font-size: 26px;
}
.table h2 {
	font-size: 23px;
	}
.table h3 {
	font-size: 20px;
}
.label {
	font-size: 53%;
}
.alert,p {
	font-size: 14px;
}
.pagination {
	margin: 20px 0 0px;
}
.grid_3.grid_4.w3layouts {
	margin-top: 25px;
}
}
@media (max-width: 320px){
.grid_4 {
	margin-top: 18px;
}
h3.title {
	font-size: 1.6em;
}
.alert {
	padding: 10px;
	margin-bottom: 10px;
}
ul.pagination li a {
	font-size: 14px;
	padding: 5px 11px;
}
.list-group {
	margin-bottom: 10px;
}
.well {
	padding: 10px;
}
.nav > li > a {
	font-size: 14px;
}
table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
}
}
/*-- //typography --*/
.typo {
    padding: 5em 0;
}
.form-group.row {
    margin-bottom: 1rem;
}
.bd-example {
    padding: 2em;
    border: 1px solid #eee;
    margin-bottom: 2em;
}/*--gallery --*/
.agileinfo_work_grids{
	margin-top:1em;
}
.wthree_work_grid1{
	padding-top:2em;
}
.wthree_work_grid1:nth-child(1) {
    padding-top: 0!important;
}
.agile_work_grid
{
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.5s Ease;
    -moz-transition: 0.5s Ease;
    -o-transition: 0.5s Ease;
    transition: 0.5s Ease;  
}

.w3_agileits_sub_work
{
    color: rgba(0,0,0,0);
    line-height: 1px;
    
}
.w3_agileits_sub_work:hover {
    color: #fc3f08;
    line-height: 214px;
}
.w3_agileits_sub_work>.agileits_w3layouts_work {
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 3em;
    width: 100%;
    text-align: center;
}
.w3_agileits_sub_work:hover img
{
	opacity:.8;
}
.w3ls_featured_plan{
	position:relative;
}
.w3l_plans_grid{
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    opacity: 0;
    background: #000;
	-webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}
.agileits_featured_plans:hover .w3l_plans_grid{
    opacity: 0.6;
}
.w3ls_featured_plan_pos{
	position:absolute;
	bottom:0%;
	left:0%;
	z-index: 9;
}
.w3ls_featured_plan_pos h4{
	background: #34b3f5;
    color: #fff;
    font-size: 1em;
    padding: .3em .5em;
}
.w3_featured_plan_bottom{
	padding: 2em;
    border: 1px solid #dcdbdb;
}
.w3_featured_plan_bottom h4 a{
	font-size:1.1em;
	color:#212121;
	text-decoration:none;
}
.w3_featured_plan_bottom h4 a:hover{
	color:#f56f19;
}
.w3_featured_plan_bottom h4 a:focus{
	outline:none;
}
.w3_featured_plan_bottom p{
	margin:1em 0 2em;
	color:#999;
	line-height:2em;
}
.w3_featured_plan_bottom ul{
	padding:2em 0 0;
	border-top: 1px solid #dcdbdb;
}
.w3_featured_plan_bottom ul li{
	display: inline-block;
    color: #212121;
    font-weight: 600;
    text-transform: uppercase;
    vertical-align: middle;
}
.w3_featured_plan_bottom ul li:first-child{
	margin-right: 1em;
    width: 15%;
    border: 3px double #999;
}
section.gallery {
    padding: 5em 0;
}
/*-- //Gallery --*/
/*-- contact us --*/
.mail{
	 padding: 5em 0;
}
.agileits_mail_grid_left input[type="text"], .agileits_mail_grid_left input[type="email"], .agileits_mail_grid_left textarea {
    outline: none;
    background: #f5f5f5;
    border: 1px solid #E8E8E8;
    color: #212121;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 2em;
}
.agileits_mail_grid_left textarea {
    min-height: 150px;
}
.agileits_mail_grid_left input[type="submit"] {
    font-size: 1em;
    padding: 0.8em;
    display: block;
    outline: none;
    background:#fc3f08;
    color: #fff;
    border: none;
    width: 34%;
	cursor:pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileits_mail_grid_left input[type="submit"]:hover {
    background: #2fd151;
}
.agileits_mail_grid_left h4 {
    font-size: 1em;
    color: #2fd151;
    margin-bottom: 1em;
    font-weight: 600;
}
.agileits_mail_grids {
    margin-top: 5em;
}
.left-agileits ul li {
    list-style-type: none;
    margin-bottom: 0.2em;
    font-size: 15px;
    line-height: 1.8em;
    color: #777;
    padding-left: 0em;
}
.left-agileits ul li a{
    color: #777;
}
.left-agileits ul li span {
    left: 0em;
    padding-right: 1em;
}
.left-agileits li span {
    color: #2fd151;
}
.left-agileits h3 {
    font-size: 26px;
    font-weight: 600;
    color: #212121;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1em;
}
.agileits_mail_grid_right {
    padding-left: 40px;
}
.left-agileits {
    margin-top: 30px;
    text-align: left;
}
.agile-map iframe {
    min-height: 370px;
	width: 100%;
}
/*-- contact us --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 24px;
	right: 1%;
	overflow: hidden;
	z-index: 999; 
    width: 64px;
    height: 64px;
	border: none;
	text-indent: 100%;
	background: url("../images/arrow.png") no-repeat 0px 0px;
}
#toTopHover {
    width: 64px;
    height: 64px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
.agileits-w3layouts-info img {
    width: 100%;
}
h4.modal-title {
    font-size: 28px;
    color: #2fd151;
	font-weight:600;
    letter-spacing: 2px;
}
.agileits-w3layouts-info p {
    font-size: 14px;
    color: #777;
    line-height: 28px;
    padding: 1em;
}
/*--responsive--*/
@media(max-width:1920px){
	
}
@media(max-width:1680px){
	
}
@media(max-width:1600px){
	
}
@media(max-width:1440px){
h1 a.navbar-brand {
    font-size: 34px;
}
}
@media(max-width:1366px){
}
@media(max-width:1280px){
.carousel-caption h2, .carousel-caption h3 {
    font-size: 3.2em;
}
}
@media(max-width:1080px){
.banner1 {
    min-height: 250px;
}
.w3layouts_gallery_grid1_pos h3 {
    margin: 0em 0 .5em;
}
.w3_agileits_sub_work:hover {
    line-height: 180px;
}
.carousel-caption h2, .carousel-caption h3 {
    font-size: 2.8em;
}
.carousel-item {
    height: 38em;
}
.inner_grid h3 {
    font-size: 25px;
}
}
@media(max-width:1050px){
h1 a.navbar-brand {
    font-size: 32px;
}
}
@media(max-width:1024px){	
.inner_grid h3 {
    font-size: 23px;
}
.inner_grid a {
    padding: 8px 20px;
}
.carousel-caption h2, .carousel-caption h3 {
    font-size: 2.6em;
}
}
@media(max-width:991px){
div#navbarSupportedContent {
    position: absolute;
    width: 97%;
    left: 0px;
    top: 49px;
    z-index: 999;
    background: #000000;
}
.cd-search-trigger::before {
    border: 3px solid #fff;
}
.cd-search-trigger::after {
    background: #fff;
}
.cd-search-trigger span::before, .cd-search-trigger span::after {
    background: #fff;
}

ul.navbar-nav {
    width: 100%;
    left: 0px;
    text-align: center;
	padding: 1em 0em;
}	
li.nav-item {
    margin: 10px 0px;
}
.navbar-light .navbar-toggler {
    border-color: #2fd151;
    background:#2fd151;
    padding: 2px 6px;
    margin-top: 5px;
    outline: none;
    margin-right: 0px;
	z-index: 9999;
	cursor: pointer;
    border-radius: 6px;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.navbar-light .navbar-toggler:hover {
    background:#2fd151;
}
.dropdown-menu.show {
    text-align: center;
    background: #000;
}
.dropdown-item {
    color: #ffffff;
}
.dropdown-divider {
    background-color: #000000;
}
.dropdown-item:focus, .dropdown-item:hover {
   color: #2fd151;
    text-decoration: none;
    background-color: #000000;
}
.dropdown-item.active, .dropdown-item:active {
    color: #2fd151;
    text-decoration: none;
    background-color: #000000;
}
.heading-agileinfo span {
    font-size: 25px!important;
}
.agileits_mail_grid_left input[type="submit"] {
    width: 54%;
}
.footer_w3layouts_section_1its h3, .footer_w3layouts_section_1its h2 {
    font-size: 1.5em;
}
.footer-grid_section_1its_w3 {
    margin-bottom: 1.5em;
}
.copyright p {
    text-align: center;
}
.typo {
    padding: 3em 0;
}
.w3_agileits_sub_work>.agileits_w3layouts_work {
    font-size: 2em;
}
.w3_agileits_sub_work:hover {
    line-height: 127px;
}
.services-top-grids {
    top: 9em;
}
.grid1 h4 {
    font-size: 18px;
}
.grid1 {
    padding: 30px 16px 30px 16px;
}
.services {
    padding: 2em 0 2em;
}
.w3_agile_testimonials_grid_right {
    width: 96%;
    padding: 1em 3em;
}
.agile_testimonials_grid p {
    line-height: 1.8em;
}
.test-tooltip1:after {
    bottom: -7%;
}
.carousel-caption h2, .carousel-caption h3 {
    font-size: 2.5em;
}
.carousel-item {
    height: 33em;
}
.innergrid1 {
    padding: 1em;
}
.innergrid1 h3 {
    font-size: 20px;
    letter-spacing: 1px;
}
.inner_grid h3 {
    font-size: 21px;
}
.wthree-services-right {
    margin-top: 2em;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.dropdown-menu {
    text-align: center;
    background-color: #000;
}
}
@media(max-width:800px){
h1 a.navbar-brand {
    font-size: 37px;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 14px;
}
.inner_grid {
    padding: 4.5em 1em;
}
.carousel-caption h2, .carousel-caption h3 {
    font-size: 2.2em;
}
}
@media(max-width:768px){
.w3_banner_info {
    padding: 8em 0 0;
}
.banner1 {
    min-height: 220px;
}
.footer {
    padding: 3em 0;
}
.mail {
    padding: 3em 0;
}
.heading-agileinfo {
    margin-bottom: 2em;
}
.carousel-caption h2, .carousel-caption h3 {
    font-size: 2.1em;
}
.carousel-caption {
    bottom: 12em;
    width: 80%;
}
.carousel-item {
    height: 29em;
}
.special-w3l {
    padding: 3em 0;
}
.services {
    padding: 3em 0 3em;
}
.testi-tp {
    padding: 3em 0;
}
.services-1 {
    padding: 3em 0;
}
}
@media(max-width:736px){
.heading-agileinfo span {
    line-height: 1.8em;
}
.agileits_mail_grid_right {
    padding-left: 15px;
    margin-top: 2em;
}
.w3_agileits_sub_work:hover {
    line-height: 280px;
}
.forhen {
    margin: 2em 0;
}
.services {
    padding: 3em 0 3em;
}
.service_right_grid {
    margin-top: 2em;
}
.inner_grid {
    padding: 5.5em 3em;
}
.lamp {
    margin-top: 20px;
}
}
@media(max-width:667px){
.carousel-caption {
    right: 0%;
    left: 0%;
}
}
@media(max-width:640px){
.banner1 {
    min-height: 200px;
}
}
@media(max-width:600px){
.services-bottom-info h5 {
    font-size: 24px;
}
}
@media(max-width:568px){
.team_grid_info p {
		font-size: 0.9em;
}
.top .top-middle, .top .top-right {
    float: left;
    width: 50%;
}
.top .top-left {
    float: right;
    width: 50%;
	    padding: 0px 0 0;
}
.header-bar {
    padding: 0.8em 0em;
}
.banner1 {
    min-height: 160px;
}
.carousel-caption h2, .carousel-caption h3 {
    font-size: 1.8em;
}
.carousel-caption {
    bottom: 10em;
}
.carousel-item {
    height: 25em;
}
.services-bottom-icon {
    float: right;
    width: 24%;
}
.services-bottom-info {
    float: right;
    width: 76%;
}
}
@media(max-width:480px){
.heading-agileinfo {
    font-size: 36px;
}
.agile-map iframe {
    min-height: 250px;
}
.copyright {
    margin-top: 0em;
    padding-top: 1em;
}
.w3_agileits_sub_work:hover {
    line-height: 243px;
}
.carousel-item {
    height: 22em;
}
}
@media(max-width:440px){
.left-agileits h3 {
   font-size: 22px;
}
.heading-agileinfo {
    font-size: 34px;
}
.heading-agileinfo span:after {
    top: 120%;
    right: 40%;
}
.w3_agileits_sub_work:hover {
    line-height: 230px;
}
.services-bottom-info h5 {
    font-size: 21px;
}
.wthree-services-right-bottom {
    padding-right: 0em;
}
.carousel-caption h2, .carousel-caption h3 {
    font-size: 1.4em;
}
.services {
    padding: 3em 0 3em;
}
}
@media(max-width:414px){
.banner1 {
    min-height: 130px;
}
a.navbar-brand span {
    padding-left: 0.1em;
    margin-left: 0.1em;
}
.w3_agileits_sub_work:hover {
    line-height: 215px;
}
.carousel-caption h2, .carousel-caption h3 {
    font-size: 1.3em;
}
}
@media(max-width:384px){
	h1 a.navbar-brand {
    font-size: 31px;
}
.w3_agileits_sub_work:hover {
    line-height: 178px;
}
.inner_grid {
    padding: 4.5em 2em;
}
.carousel-caption h2, .carousel-caption h3 {
    font-size: 1.2em;
}

}
@media(max-width:375px){
}
@media(max-width:320px){
.banner1 {
    min-height: 110px;
}
.mail {
    padding: 2.5em 0;
}
h1 a.navbar-brand {
    font-size: 30px;
	letter-spacing:0;
}
.navbar-toggler-right {
    right: 0rem !important;
}
.header-bar {
    padding: 0.5em 0em;
}
.heading-agileinfo {
    font-size: 32px;
}
.agileits_mail_grids {
    margin-top: 0em;
}
.agileits_mail_grid_left input[type="submit"] {
    width: 67%;
}
.copyright p {
    font-size: 14px;
}
.copyright {
    margin-left: 0;
}
.footer {
    padding: 2.5em 0;
}
.typo {
    padding: 2.5em 0;
}
.w3_agileits_sub_work:hover {
    line-height: 140px;
}
.services-bottom-info {
    padding: 0;
}
.services-bottom-icon {
    padding-right: 0;
}
.services-bottom-icon i {
    font-size: 25px;
    padding: 8px;
}
.services-bottom-info h5 {
    font-size: 21px;
}
.special-w3l {
    padding: 2.5em 0;
}
.inner_grid {
    padding: 4.5em 1em;
}
.service_right_grid {
    padding: 0;
}
.services-1 {
    padding: 2.5em 0;
}
.tex-t h4 {
    font-size: 15px;
}
.test-tooltip1:after {
    bottom: -5%;
}
.testi-tp {
    padding: 3em 0 0;
}
.services {
    padding: 2.5em 0 2em;
}
.services-top-grids {
    top: 12em;
}
.carousel-item {
    height: 20em;
}
.carousel-caption {
    bottom: 8em;
}
.agile_testimonials_grids {
    margin: 4em 0 0em;
}

}
