extends ../layouts/industry

block title
    title
      | Industry | Blockchain Institute

block description
  meta(name='description', content='Information about distributed ledger technology and how it will impact your life.')

block content
  - var nav = "industry";
  - var bannerMsg = "Blockchain in ";
  - var bannerFocus = "Action";
  - var home = 'nothome';
  - var sectionImage = "/images/web3_3.jpg";
  - var bannerImage = "/images/prysm_banner.jpg";
  include ../includes/industry/templates/header
  include ../includes/industry/templates/banner
  include ../includes/industry/home/industries_b
  include ../includes/industry/templates/spacer








