section.about
  div.left
    a.last(href='/industries/education')
      i.fa.fa-chevron-left
  div.right
    a.next(href='/industries/finance')
      i.fa.fa-chevron-right
  .container
    .row.ab-agile
      .col-md-6.aboutleft
        p.para1
          | Recent history has proven that energy is a rapidly evolving sector. New technology like solar and wind generation is enabling individuals everywhere to take control of their energy usage, but the existing centralized grid cannot support these new alternatives.
          br
          br
          | The problem? Tracking energy production and assigning value is complicated, and the current centralized systems have not been open to compromise. 
        p
          i.fa.fa-check(aria-hidden='true')
          |  Live tracking of energy production
        p
          i.fa.fa-check(aria-hidden='true')
          |  Open and transparent markets
        p
          i.fa.fa-check(aria-hidden='true')
          |  Reduced waste and downtime     
        br
        p.para1.boldItalic
          | If you're interested in learning more, you might want to check out the projects 
          a.externaLink(href='#', data-toggle='modal', data-target='#powerLedger') Power Ledger
          | , 
          a.externaLink(href='#', data-toggle='modal', data-target='#electron') Electron
          | , and 
          a.externaLink(href='#', data-toggle='modal', data-target='#singularity') Singularity
          | , or sign up for our mailing list in the footer!

      .col-md-6.aboutright
        img.img-responsive(src='/images/energy.png', alt='')
    br
    br
    .clear



  // //wthree-mid      