section.about
  div.left
    a.last(href='/industries/healthcare')
      i.fa.fa-chevron-left
  div.right
    a.next(href='/industries/supply-chain')
      i.fa.fa-chevron-right
  .container
    .row.ab-agile
      .col-md-6.aboutleft
        p.para1
          | The international non-profit sector helps millions of people every year, but accountability can be a real problem depending on where the funds are headed. A high portion of international charities spend most of their funds on administrative fees - wouldn't it be good to know where your donations are going?
          br
          br
          | Blockchain solutions might provide a simple solution to this issue as we digitize performance assessments and modernize aid spending. 
        p
          i.fa.fa-check(aria-hidden='true')
          | Full transparency of donation spending
        p
          i.fa.fa-check(aria-hidden='true')
          | Open tracking of performance feedback
        p
          i.fa.fa-check(aria-hidden='true')
          | Streamlined donation and payment technology
        p.para1.boldItalic
          | If you're interested in learning more, you might want to check out the projects 
          a.externaLink(href='#', data-toggle='modal', data-target='#pineappleFund') Pineapple Fund
          |  and 
          a.externaLink(href='#', data-toggle='modal', data-target='#buildingblocks') the UN's Building Blocks program
          | , or sign up for our mailing list in the footer!

      .col-md-6.aboutright
        img.img-responsive(src='/images/philanthropy.jpg', alt='')
    br
    br
    .clear


  // //wthree-mid      