extends /layouts/web3

block title
    title
      | Web 3.0 | Blockchain Institute

block description
  meta(name='description', content='Information about distributed ledger technology and how it will impact your life.')

block content
  - var nav = "industry";
  - var bannerMsg = "Web 3.0";
  - var bannerFocus = "";
  - var home = 'nothome';
  - var bannerImage = "images/web3_1.png";
  - var sectionImage = "images/web3_5.jpg";
  include /includes/header
  include /includes/banner
  include /includes/web3_sections

  // - var tile_section_header = "Web 3.0 light reading";
  - var tile_1_header = "Online Privacy";
  - var tile_1_subHeader = "Web 3.0 insists on accountability from platform providers to ensure user data is kept safe.";
  - var tile_1_image = "images/DataOwnership_2.png";
  - var tile_1_link = "/philanthropy.html";

  - var tile_2_header = "Did you know?";
  - var tile_2_subHeader = "In 2017, 1/10 Americans was the victim of online fraud, with over $16 Billion dollars stolen.";
  - var tile_2_image = "images/DigitalIdentity_1.png";
  - var tile_2_link = "/finance.html";

  - var tile_3_header = "Funny Fish";
  - var tile_3_subHeader = "Blockchains have the potential to increase supply chain transparency to inform consumer choices.";
  - var tile_3_image = "images/SupplyChain_1.png";
  - var tile_3_link = "/supply-chain.html";  

  include /includes/testimonials
  include /includes/tiles
  //- include includes/timeline  
  //- include includes/testimonials_2
  //- include includes/services-c








