extends /layouts/industry

block title
    title
      | Education | Blockchain Institute

block description
  meta(name='description', content='Information about distributed ledger technology and how it will impact your life.')

block content
  - var nav = "industry";
  - var bannerMsg = "Blockchain in ";
  - var bannerFocus = "Education";
  - var sectionImage = "/images/web3_5.jpg";
  - var bannerImage = "/images/prysm_banner.jpg";
  - var home = 'nothome';
  include /includes/industry/templates/header
  include /includes/industry/templates/banner
  include /includes/industry/profile/education
  include /includes/industry/templates/spacer








