// footer
footer
  section.footer.footer_w3layouts_section_1its
    .container
      .row.footer-top
        .col-lg-4.footer-grid_section_1its_w3
          .footer-title
            h3 Learn How Blockchain Can Help:
          ul.links

            li
              a(href='education') Education
            li
              a(href='energy') Energy
            li
              a(href='finance') Finance
            li
              a(href='healthcare') Healthcare
            li
              a(href='philanthropy') Philanthropy

        .col-lg-4.footer-grid_section_1its_w3
          .footer-title
            h3 About Us
          .footer-text
            p
              | The Blockchain Institute was founded to promote the adoption, development, and use of blockchain technology. 
            ul.social_section_1info
              li
                a(href='#')
                  i.fab.fa-facebook-f
              li
                a(href='#')
                  i.fab.fa-twitter
              li
                a(href='#')
                  i.fab.fa-google-plus-g
              li
                a(href='#')
                  i.fab.fa-linkedin-in
        //- .col-lg-3.footer-grid_section_1its_w3
        //-   .footer-title
        //-     h3 Contact Info
        //-   .contact-info
        //-     h4 Location :
        //-     p 4649 N Broadway, Chicago, IL.
        //-     p
        //-       | Email : 
        //-       a(href='mailto:info@theblockchaininstitute.org') info@theblockchaininstitute.org
        .col-lg-4.footer-grid_section_1its_w3
          .footer-title
            h3 Subscribe
          .footer-text
            p
              | Stay in the loop with our monthly newsletter on all things blockchain!
            form(action='#', method='post')
              input(type='email', name='Email', placeholder='Enter your email...', required='')
              button.btn1
                i.fa.fa-envelope(aria-hidden='true')
              .clearfix  
      .copyright
        p
          | © 2018 Blockchain Institute. All Rights Reserved

// //footer

link(href='//fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif', rel='stylesheet')
link(href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700', rel='stylesheet')
link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
link(rel='manifest', href='/site.webmanifest')
link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
meta(name='msapplication-TileColor', content='#da532c')
meta(name='theme-color', content='#ffffff')          
// Load JavaScript
| <!-- inject:js --><!-- endinject -->