// footer
footer
  section.footer.footer_w3layouts_section_1its
    .container
      .row.footer-top
        .col-lg-4.footer-grid_section_1its_w3
          .footer-title
            h3 Industry Impact
          ul.links
            li
              a(href='finance.html') Finance
            li
              a(href='aid.html') Aid
            li
              a(href='energy.html') Energy
            li
              a(href='healthcare.html') Healthcare
            li
              a(href='education.html') Education        
        .col-lg-4.footer-grid_section_1its_w3
          .footer-title
            h3 About Us
          .footer-text
            p
              | The Blockchain Institute was founded to promote the adoption, development, and use of blockchain technology. 
            ul.social_section_1info
              li
                a(href='#')
                  i.fab.fa-facebook-f
              li
                a(href='#')
                  i.fab.fa-twitter
              li
                a(href='#')
                  i.fab.fa-google-plus-g
              li
                a(href='#')
                  i.fab.fa-linkedin-in
        //- .col-lg-3.footer-grid_section_1its_w3
        //-   .footer-title
        //-     h3 Contact Info
        //-   .contact-info
        //-     h4 Location :
        //-     p 4649 N Broadway, Chicago, IL.
        //-     p
        //-       | Email : 
        //-       a(href='mailto:info@theblockchaininstitute.org') info@theblockchaininstitute.org
        .col-lg-4.footer-grid_section_1its_w3
          .footer-title
            h3 Subscribe
          .footer-text
            p
              | Stay in the loop with our monthly newsletter on all things blockchain!
            form(action='#', method='post')
              input(type='email', name='Email', placeholder='Enter your email...', required='')
              button.btn1
                i.fa.fa-envelope(aria-hidden='true')
              .clearfix  
      .copyright
        p
          | © 2018 The Blockchain Institute. All Rights Reserved

// //footer


            
// Load JavaScript
| <!-- inject:js --><!-- endinject -->