block title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    meta(name='keywords', content='blockchain cryptocurrency education resources case studies study block chain crypto')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='favicons/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    meta(property='og:url', content='https://theblockchaininstitute.org')
    meta(property='og:type', content='website')
    meta(property='og:title', content='The Blockchain Institute')
    meta(property='og:description', content='Teaching the world blockchain.')
    meta(property='og:image', content='/images/Logo-Color.png')


block description
    
| <!-- inject:css --><!-- endinject -->
//if lt IE 9
  script(src='js/html5.js')