// modal
#blockcerts.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .w3header
            iframe(width='100%', height='600', src='https://www.youtube.com/embed/5wAyS1e_hOo', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
            br
            br
        .close_button
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            i.far.fa-times-circle(aria-hidden='true')                
      .modal-body
        .agileits-w3layouts-info 
          p
            | Blockcerts is a an open standard for issuing and verifying blockchain based certificates. Universities like MIT,  University of Nicosia in Cyprus, University of Melbourne in Australia are testing this to monitor and keep account of transcripts and qualifications for students and educators. Blockchain makes these documents tamper proof and shareable giving individuals full control over their own information.
          p
            | You can read more about Blockcerts on their website at 
            a.externaLink(href="https://www.blockcerts.org/" target="_blank") blockcerts.org
            |!
          br
#learningisearning.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .w3header
            img.img-responsive(src='/images/learning-is-earning.jpg', alt='Digital Identity')
            br
            br
        .close_button
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            i.far.fa-times-circle(aria-hidden='true')                
      .modal-body
        .agileits-w3layouts-info 
          p
            | Learning is Earning is a company that uses the blockchain to further education. They use “edublocks” to allow institutions to prove that a person has taken classes on certain subjects. They want to create a “complete record of everything you’ve ever learned, everyone you’ve learned from, and everyone who’s learned from you.” This allows for instant verification of credentials that cannot be altered by any third party.
          p
            | You can read more about Learning is Earning on their website at 
            a.externaLink(href="http://www.learningisearning2026.org/" target="_blank") learningisearning2026.org
            |!
          br
#powerLedger.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .w3header
            img.img-responsive(src='/images/power-ledger.png', alt='Digital Identity')
            br
            br
        .close_button
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            i.far.fa-times-circle(aria-hidden='true')                
      .modal-body
        .agileits-w3layouts-info  
          p
            | Power Ledger has developed a system for tracking generation and consumption of power that allows for peer-to-peer energy trading on the blockchain. Power can be bought and sold without relying on a third party. This platform is already seeing use in Australia.
          p
            | You can read more about Power Ledger on their website at 
            a.externaLink(href="https://powerledger.io/" target="_blank") powerledger.io
            |!
          br
#electron.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .w3header
            img.img-responsive(src='/images/electron.jpg', alt='Digital Identity')
            br
            br
        .close_button
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            i.far.fa-times-circle(aria-hidden='true')                
      .modal-body
        .agileits-w3layouts-info  
          p
            | British company Electron is using blockchain to help facilitate faster switching of supply points for UK gas and electricity customers. They also offer peer-to-peer and micro-grid trading. 
          p
            | You can read more about Electron on their website at 
            a.externaLink(href="http://www.electron.org.uk/" target="_blank") electron.org.uk
            |!
          br
#singularity.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .w3header
            img.img-responsive(src='/images/gridsingularity.jpg', alt='Digital Identity')
            br
            br
        .close_button
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            i.far.fa-times-circle(aria-hidden='true')                
      .modal-body
        .agileits-w3layouts-info  
          p
            | A team of energy market and policy professionals came together to create Grid Singularity. They are building a trustless, open decentralized network to coordinate the increased number of alternative energy producers in Austria. 
          p
            | You can read more about Singularity on their website at 
            a.externaLink(href="http://gridsingularity.com/" target="_blank") gridsingularity.com
            |!
          br
#humaniq.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .w3header
            img.img-responsive(src='/images/humaniq.jpg', alt='Digital Identity')
            br
            br
        .close_button
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            i.far.fa-times-circle(aria-hidden='true')                
      .modal-body
        .agileits-w3layouts-info 
          p
            | Humaniq is a financial service that wants to fight poverty in emerging economies with their self-deploying financial infrastructure. They offer biometric authentication to offer security without the traditional need for formal documentation. Direct money transfers can be done using their cryptocurrency (HMQ) cutting out middlemen and avoiding financial monopolies.
          p
            | You can read more about Learning is Earning on their website at 
            a.externaLink(href="https://humaniq.com/" target="_blank") humaniq.com
            |!
          br
#stellar.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .w3header
            img.img-responsive(src='/images/stellar.jpeg', alt='Digital Identity')
            br
            br
        .close_button
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            i.far.fa-times-circle(aria-hidden='true')                
      .modal-body
        .agileits-w3layouts-info  
          p
            | The nonprofit Stellar is improving on the current banking system by offering a way to move money that is quick reliable and cheap. Transactions on their decentralized network only take 2-5 seconds to resolve. 
          p
            | You can read more about Learning is Earning on their website at 
            a.externaLink(href="https://www.stellar.org/" target="_blank") stellar.org
            |!
          br
#simplyVital.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .w3header
            img.img-responsive(src='/images/simply-vital.png', alt='Digital Identity')
            br
            br
        .close_button
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            i.far.fa-times-circle(aria-hidden='true')                
      .modal-body
        .agileits-w3layouts-info  
          p
            | Learning is Earning is a company that uses the blockchain to further education. They use “edublocks” to allow institutions to prove that a person has taken classes on certain subjects. They want to create a “complete record of everything you’ve ever learned, everyone you’ve learned from, and everyone who’s learned from you.” This allows for instant verification of credentials that cannot be altered by any third party.
          p
            | You can read more about Learning is Earning on their website at 
            a.externaLink(href="https://www.simplyvitalhealth.com/" target="_blank") simplyvitalhealth.com
            |!
          br
#robomed.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .w3header
            img.img-responsive(src='/images/robomed.jpg', alt='Digital Identity')
            br
            br
        .close_button
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            i.far.fa-times-circle(aria-hidden='true')                
      .modal-body
        .agileits-w3layouts-info  
          p
            | Robomed Network connects healthcare services providers and patients based on smart contracts. Patients pay for the result and not the medical process. This will allow for greater focus on patient outcomes and not procedures. 
          p
            | You can read more about Robomed on their website at 
            a.externaLink(href="https://robomed.io/" target="_blank") robomed.io
            |!
          br

#pineappleFund.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .w3header
            img.img-responsive(src='/images/pineapple-fund.png', alt='Digital Identity')
            br
            br
        .close_button
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            i.far.fa-times-circle(aria-hidden='true')                
      .modal-body
        .agileits-w3layouts-info   
          p
            | Donations on the public blockchain have enabled small charitable organizations to start using cryptocurrencies while ensuring that some of the wealth creation goes to good. This was able to be verified because of bitcoin’s digital ledger that permanently and publicly records all transactions made.   
          p
            | You can read more about Robomed on their website at 
            a.externaLink(href="https://pineapplefund.org/" target="_blank") pineapplefund.org
            |!
          br
#buildingblocks.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .w3header
            img.img-responsive(src='/images/building-blocks.jpg', alt='Digital Identity')
            br
            br
        .close_button
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            i.far.fa-times-circle(aria-hidden='true')                
      .modal-body
        .agileits-w3layouts-info   
          p
            | The UN World Food Program created Building Blocks, an ethereum based blockchain for recording biometric data and food voucher transactions for 1000,000 refugees in Jordan. Using blockchain saves the WFP 98 percent of their banking fees due to transfers. These cash transfers allow the refugees to make their own purchasing decisions locally and this can be traced using the blockchain.
          p
            | You can read more about the UN Building Blocks program on their 
            a.externaLink(href="http://innovation.wfp.org/project/building-blocks" target="_blank") website
            |!
          br
#ibmblockchain.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .w3header
            img.img-responsive(src='/images/ibm-blockchain.jpg', alt='Digital Identity')
            br
            br
        .close_button
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            i.far.fa-times-circle(aria-hidden='true')                
      .modal-body
        .agileits-w3layouts-info 
          p
            | IBM Blockchain is working with Walmart and other food giants like Nestle and Tyson to reduce food contamination issues using blockchain. Walmart’s trials with IBM have resulted in the reduction of the time it takes to track a mango from seven days down to 2.2 seconds. Blockchain will make tracking food contamination through distribution and production much faster and more cost effective allowing easy identification of the source of food safety issues. 
          p
            | You can read more about Robomed on their website at 
            a.externaLink(href="https://www.ibm.com/blockchain/industries/supply-chain" target="_blank") ibm.com
            |!
          br       
#modum.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .w3header
            img.img-responsive(src='/images/modum.jpg', alt='Digital Identity')
            br
            br
        .close_button
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            i.far.fa-times-circle(aria-hidden='true')                
      .modal-body
        .agileits-w3layouts-info 
          p
            | Pharmaceutical focused Modum is using internet of things sensors to track medicinal products on the blockchain. The sensors can even record the environmental conditions that the products are in during transit. This is very important for medical products that need to maintain a specific temperature to be effective. Smart contracts are used to make sure that a shipment has met all regulatory requirements set by clients and governments.    
          p
            | You can read more about Robomed on their website at 
            a.externaLink(href="https://modum.io/" target="_blank") modum.io
            |!
          br 
               
                                                              
// //modal