// modal
#automotive.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4.modal-title Automotive Companies Understand Potential of Blockchain
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') -
      .modal-body
        .agileits-w3layouts-info
          img.img-responsive(src='images/BI_Automotive.jpg', alt='BI_Automotive')
          p
            | While both blockchains and self-driving cars are fairly new concepts, Toyota has actually started implementing the technology in their autonomous vehicles, in two distinct ways.
          p
            | First, the blockchain can help with data collection. In order to ensure safety with self-driving cars, a distributed ledger is ideal because of the required amount of data. Pooling of data could then be used to shorten the time it takes to reach the goal of mass-produced, self-driving cars.
          p
            | Second, it collects data for individual drivers, and actually gives them access to their information. From there, they’d have the choice of sharing their data with insurance companies, or keeping it to themselves. Blockchain can give back the power to the individuals.
          br
          .clear
#digitalRights.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4.modal-title Digital Media Rights        
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') -
      .modal-body
        .agileits-w3layouts-info
          img.img-responsive(src='images/BI_DigitalMedia.jpg', alt='BI_DigitalMedia')
          p
            | The nature of digital content is that it’s very easy to copy and distribute without permission. Content creators are often unable to protect their work and manage its use because old digital rights management tools don’t give them the ability to do that. The internet lacks a standard infrastructure to store and organize these rights and permissions. Information is kept in many separate centralized servers owned by different companies. Confusion is caused by the lack of consistency between them. If one of these servers fails or company running it goes out of business, all of that information would be lost. 
          p
            | Blockchains can provide a solution for the issues of today’s digital market. Any type of information can be added to a blockchain. This includes who has license to use a work, contact information for copyright holders, even terms of use and how creators and owners split earnings. A permanent chain of data is created as all of this information is written by transactions into “blocks”. Once a block is closed a summarized copy of that block is put into the next block with all the new transactions. This creates a chain with a traceable history of transactions. The blockchain is then distributed across the network so each node has a copy of it preventing a single point of failure. Ownership rights can be easily transferred and verified unlocking the value of digital work.  
          p
            | This isn’t just an idea, well established companies like Sony and brand new businesses like Ascribe are stepping up to put this new technology to use. During April of 2018, Sony published a patent to use blockchain to track digital rights. Their proposed blockchain based Digital Rights Management (DRM) system would imprint rights information by transaction. The information would be immutable and spread across their network. This would allow Sony to quickly resolve any questions of ownership.
          p
            | Ascribe is a German company that is working to solve DRM issues for the fine art market. They offer attribution for creative work using blockchain technology. Using a cryptographic ID, a permanent link is created that shows a record of ownership. This gives artists insight into who is looking at their work, how it spreads on the web, as well as giving potential buyers an easier way to reward creators for their work. This even allows for unique limited editions of digital art that can be bought, sold or traded just like physical art. 
          br
          .clear
#foodSafety.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4.modal-title Tracing Food Products with Blockchains        
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') -
      .modal-body
        .agileits-w3layouts-info
          img.img-responsive(src='images/food_on_shelves.jpg', alt='BI_food_on_shelves')
          p
            | The goal of tracing food on the blockchain gives users more insight into where their food is actually coming from. By scanning a QR code when looking to purchase produce or meat, you can seeing such details as place grown, pesticides or GMOs used, and then entire physical journey that food took to get into your shopping cart.
          p
            | The utilization of the blockchain can provide farm to table traceability. As the product moves along the supply chain, data is continuously written onto the blockchain. If there is any point of failure that then makes that food unsafe, it is recorded permanently on the blockchain.
          p
            | Around the world there are consistently about 18,000 ongoing recalls. The installation of the blockchain can make it so when recalls happen, their effects can be mitigated. Indentified products could be identified even before they become available to the public. Tracking the transportation of food could even lead to avoiding recalls altogether. By pairing the Internet of Things with a blockchain, product conditions can be tracked. If those conditions deviate from the norm, it is recorded to the blockchain.
          br
#blockcerts.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4.modal-title Blockcerts       
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') -
      .modal-body
        .agileits-w3layouts-info
          p
            | Blockcerts is a an open standard for issuing and verifying blockchain based certificates. Universities like MIT,  University of Nicosia in Cyprus, University of Melbourne in Australia are testing this to monitor and keep account of transcripts and qualifications for students and educators. Blockchain makes these documents tamper proof and shareable giving individuals full control over their own information.
          p
            | You can read more about Blockcerts on their website at 
            a.externaLink(href="https://www.blockcerts.org/" target="_blank") blockcerts.org
            |!
          br
#learningisearning.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4.modal-title Learning is Earning       
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') -
      .modal-body
        .agileits-w3layouts-info
          p
            | Learning is Earning is a company that uses the blockchain to further education. They use “edublocks” to allow institutions to prove that a person has taken classes on certain subjects. They want to create a “complete record of everything you’ve ever learned, everyone you’ve learned from, and everyone who’s learned from you.” This allows for instant verification of credentials that cannot be altered by any third party.
          p
            | You can read more about Learning is Earning on their website at 
            a.externaLink(href="http://www.learningisearning2026.org/" target="_blank") learningisearning2026.org
            |!
          br
#powerLedger.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4.modal-title Power Ledger       
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') -
      .modal-body
        .agileits-w3layouts-info
          p
            | Power Ledger has developed a system for tracking generation and consumption of power that allows for peer-to-peer energy trading on the blockchain. Power can be bought and sold without relying on a third party. This platform is already seeing use in Australia.
          p
            | You can read more about Power Ledger on their website at 
            a.externaLink(href="https://powerledger.io/" target="_blank") powerledger.io
            |!
          br
#electron.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4.modal-title Electron      
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') -
      .modal-body
        .agileits-w3layouts-info
          p
            | British company Electron is using blockchain to help facilitate faster switching of supply points for UK gas and electricity customers. They also offer peer-to-peer and micro-grid trading. 
          p
            | You can read more about Electron on their website at 
            a.externaLink(href="http://www.electron.org.uk/" target="_blank") electron.org.uk
            |!
          br
#singularity.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4.modal-title Grid Singularity       
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') -
      .modal-body
        .agileits-w3layouts-info
          p
            | A team of energy market and policy professionals came together to create Grid Singularity. They are building a trustless, open decentralized network to coordinate the increased number of alternative energy producers in Austria. 
          p
            | You can read more about Singularity on their website at 
            a.externaLink(href="http://gridsingularity.com/" target="_blank") gridsingularity.com
            |!
          br
#humaniq.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4.modal-title Humaniq       
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') -
      .modal-body
        .agileits-w3layouts-info
          p
            | Humaniq is a financial service that wants to fight poverty in emerging economies with their self-deploying financial infrastructure. They offer biometric authentication to offer security without the traditional need for formal documentation. Direct money transfers can be done using their cryptocurrency (HMQ) cutting out middlemen and avoiding financial monopolies.
          p
            | You can read more about Learning is Earning on their website at 
            a.externaLink(href="https://humaniq.com/" target="_blank") humaniq.com
            |!
          br
#stellar.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4.modal-title Stellar       
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') -
      .modal-body
        .agileits-w3layouts-info
          p
            | The nonprofit Stellar is improving on the current banking system by offering a way to move money that is quick reliable and cheap. Transactions on their decentralized network only take 2-5 seconds to resolve. 
          p
            | You can read more about Learning is Earning on their website at 
            a.externaLink(href="https://www.stellar.org/" target="_blank") stellar.org
            |!
          br
#simplyVital.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4.modal-title SimplyVital Health      
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') -
      .modal-body
        .agileits-w3layouts-info
          p
            | Learning is Earning is a company that uses the blockchain to further education. They use “edublocks” to allow institutions to prove that a person has taken classes on certain subjects. They want to create a “complete record of everything you’ve ever learned, everyone you’ve learned from, and everyone who’s learned from you.” This allows for instant verification of credentials that cannot be altered by any third party.
          p
            | You can read more about Learning is Earning on their website at 
            a.externaLink(href="https://www.simplyvitalhealth.com/" target="_blank") simplyvitalhealth.com
            |!
          br
#robomed.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4.modal-title Robomed Network      
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') -
      .modal-body
        .agileits-w3layouts-info
          p
            | Robomed Network connects healthcare services providers and patients based on smart contracts. Patients pay for the result and not the medical process. This will allow for greater focus on patient outcomes and not procedures. 
          p
            | You can read more about Robomed on their website at 
            a.externaLink(href="https://robomed.io/" target="_blank") robomed.io
            |!
          br
#pineappleFund.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4.modal-title Pineapple Fund      
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') -
      .modal-body
        .agileits-w3layouts-info
          p
            | The now concluded Pineapple Fund donated $55,750,000 to 60 different charities. This was able to be verified because of bitcoin’s digital ledger that permanently and publicly records all transactions made.   
          p
            | You can read more about Robomed on their website at 
            a.externaLink(href="https://pineapplefund.org/" target="_blank") pineapplefund.org
            |!
          br
#buildingblocks.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4.modal-title UN World Food Program - Building Blocks      
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') -
      .modal-body
        .agileits-w3layouts-info
          p
            | The UN World Food Program created Building Blocks, an ethereum based blockchain for recording biometric data and food voucher transactions for 1000,000 refugees in Jordan. Using blockchain saves the WFP 98 percent of their banking fees due to transfers. These cash transfers allow the refugees to make their own purchasing decisions locally and this can be traced using the blockchain.
          p
            | You can read more about the UN Building Blocks program on their 
            a.externaLink(href="http://innovation.wfp.org/project/building-blocks" target="_blank") website
            |!
          br
#ibmblockchain.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4.modal-title IBM Blockchain      
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') -
      .modal-body
        .agileits-w3layouts-info
          p
            | IBM Blockchain is working with Walmart and other food giants like Nestle and Tyson to reduce food contamination issues using blockchain. Walmart’s trials with IBM have resulted in the reduction of the time it takes to track a mango from seven days down to 2.2 seconds. Blockchain will make tracking food contamination through distribution and production much faster and more cost effective allowing easy identification of the source of food safety issues. 
          p
            | You can read more about Robomed on their website at 
            a.externaLink(href="https://www.ibm.com/blockchain/industries/supply-chain" target="_blank") ibm.com
            |!
          br       
#modum.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4.modal-title Modum      
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') -
      .modal-body
        .agileits-w3layouts-info
          p
            | Pharmaceutical focused Modum is using internet of things sensors to track medicinal products on the blockchain. The sensors can even record the environmental conditions that the products are in during transit. This is very important for medical products that need to maintain a specific temperature to be effective. Smart contracts are used to make sure that a shipment has met all regulatory requirements set by clients and governments.    
          p
            | You can read more about Robomed on their website at 
            a.externaLink(href="https://modum.io/" target="_blank") modum.io
            |!
          br                                          
                                                              
// //modal