// modal
#voiceOfBlockchain.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .w3header
            img.img-responsive(src='/images/cbp.png', alt='Voice Of Blockchain')
            br
            br
            .dyk  
              h4
                | The Voice of Blockchain
              p 
                | Chicago's Premier Blockchain Conference
        .close_button
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            i.far.fa-times-circle(aria-hidden='true')                
      .modal-body
        .agileits-w3layouts-info
          h4
            | See you there!
          p  
            | The Blockchain Institute is proud to sponsor the Voice of Blockchain. Drop by our exhibit to catch up on industry trends and join us on social media. 
          br   
#pizzaDay.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .w3header
            img.img-responsive(src='/images/bob_meetup_pizza_day.jpeg', alt='Pizza Day')
            br
            br
            .dyk
              h4
                | Pizza Day
              p 
                | Every year on May 22, Bitcoin supporters around the world celebrate the first transaction ever conducted on the blockchain, which was for a slice of pizza.
        .close_button
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            i.far.fa-times-circle(aria-hidden='true')                
      .modal-body
        .agileits-w3layouts-info
          h4
            | Collaboration with BOB Chicago  
          p  
            | The Blockchain Institute sponsored the Bitcoin and Open Blockchain's Pizza Day event in May 2018 with a record turnout which received mainstream media attention. 
          br            
#girlCon.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .w3header
            img.img-responsive(src='/images/girlcon.png', alt='Digital Identity')
            br
            br
            .dyk
              h4
                | 
              p 
                | In support of young women in STEM.
        .close_button
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            i.far.fa-times-circle(aria-hidden='true')                
      .modal-body
        .agileits-w3layouts-info   
          h4
            | Blockchain Youth
          p  
            | A special focus of the Blockchain Institute has been to promote education among younger audiences who have the potential to be the next generation of software designers. 
          br  
#ibc.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .w3header
            img.img-responsive(src='/images/ibcongress.png', alt='International Blockchain Congress')
            br
            br

        .close_button
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            i.far.fa-times-circle(aria-hidden='true')                
      .modal-body
        .agileits-w3layouts-info   
          h4
            | Media Coverage
          p  
            | One key way that the Institute promotes adoption is by content creation and distribution. Our delegates will be providing educational resources as well as recording the event, so stop by our booth and get in on the action!
          br  
#bitcoinStandard.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .w3header
            img.img-responsive(src='/images/bitcoinStandard.jpeg', alt='Digital Identity')
            br
            br
        .close_button
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            i.far.fa-times-circle(aria-hidden='true')                
      .modal-body
        .agileits-w3layouts-info   
          h4
            | Social Empowerment
          p  
            | We'll be teaming up with the Bitcoin and Open Blockchain Meetup once again to help promote the new book 'The Bitcoin Standard' and share some educational resources with the community.
          a(href="https://www.meetup.com/Bitcoin-Open-Blockchain-Community-Chicago/events/253210845/")
            | See the event online.
          br                       
          