
#internetOfValue.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4.modal-title Internet of Value      
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') -
      .modal-body
        .agileits-w3layouts-info
          img.img-responsive(src='images/DigitalIdentity_1.png', alt='Digital Identity')
          br
          br
          h4
            | Did you know?
          p 
            | In 2017, 1/10 Americans was the victim of online fraud, with over $16 Billion dollars stolen.
          hr          
          h4
            | Current State
          p  
            | Payments online are currently transmitted through private third parties, which complicates international transactions and reduces the ability of regulators to monitor activity.  
          br   
          h4
            | Conceptual Goal
          p  
            | In order for a more open and transparent system to be truly efficient, users must be able to be held accountable for their actions. With the introduction of cryptocurrencies and the Internet of Value, it is finally possible to  create transparent incentive-based systems online. We can now connect digital action with value in a very real and precise way.
          br
          h4
            | Conceptual Goal
          p
            | 1. Develop proper online identity tracking systems
          p
            | 2. Implement systems to track value creation through the supply chain and better reward contributions despite intermediaries 
          p
            | 3. Reputation tracking systems can be crowd sourced
          p
            | 4. Smart contracts allow all participants to see the inner workings of a system, as well as integrate truth by consensus to determine an appropriate outcome                                                                                   
                                                              
// //modal