block title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    meta(name='keywords', content='blockchain cryptocurrency education resources case studies study block chain crypto')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='favicons/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')


block description

    link(rel="stylesheet", href="/timeline.css")
        
//if lt IE 9
  script(src='js/html5.js')