// modal
#internetOfValue.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4.modal-title Internet of Value      
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') -
      .modal-body
        .agileits-w3layouts-info
          .w3header
            img.img-responsive(src='images/DigitalIdentity_1.png', alt='Digital Identity')
            br
            br
            .dyk  
              h4
                | Did you know?
              p 
                | In 2017, 1/10 Americans was the victim of online fraud, with over $16 Billion dollars stolen.
            hr          
          h4
            | Current State
          p  
            | Payments online are currently transmitted through private third parties, which complicates international transactions and reduces the ability of regulators to monitor activity.  
          br   
          h4
            | Conceptual Goal
          p  
            | In order for a more open and transparent system to be truly efficient, users must be able to be held accountable for their actions. With the introduction of cryptocurrencies and the Internet of Value, it is finally possible to  create transparent incentive-based systems online. We can now connect digital action with value in a very real and precise way.
          br
          h4
            | What we're doing today?
          p
            | 1. Develop proper online identity tracking systems 
          p
            | 2. Implement systems to track value creation through the supply chain and better reward contributions despite intermediaries 
          p
            | 3. Reputation tracking systems can be crowd sourced
          p
            | 4. Smart contracts allow all participants to see the inner workings of a system, as well as integrate truth by consensus to determine an appropriate outcome  
          p    
            | Check out our section on 
            a(href="education")  education 
            |  for more on how these systems can promote independance.
#digitalIdentity.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4.modal-title Digital Identity      
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') -
      .modal-body
        .agileits-w3layouts-info
          .w3header
            img.img-responsive(src='images/Healthcare_1.png', alt='Digital Identity')
            br
            br
            .dyk
              h4
                | Did you know?
              p 
                | 5% of patients are misdiagnosed each year due to a lack of contextual / historical information. (At least one in 20 U.S. adults, or 12 million people yearly)
            hr          
          h4
            | Current State
          p  
            | As we bring more of our information online to solve problems, security will need to adapt to keep up. 
          br   
          h4
            | Conceptual Goal
          p  
            | If the Internet is to become the core of our society, it's important that we begin to support firms who deal with privacy and security as a focus, rather than an afterthought.  
          br
          h4
            | What we're doing today?
          p
            | 1. Demand opt-in systems where users have more choice in which data they expose 
          p
            | 2. Offer premium or "No Ads" options to increase direct support of projects, rather than relying on user data for profit
          p
            | 3. Choose not to participate in systems that profit from your data unfairly
          p    
            | Check out our section on 
            a(href="healthcare")  healthcare 
            |  for more on how these systems can help users control their data.            
#digitalGovernance.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4.modal-title Digital Governance      
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') -
      .modal-body
        .agileits-w3layouts-info
          .w3header
            img.img-responsive(src='images/DataOwnership_1.png', alt='Digital Identity')
            br
            br
            .dyk
              h4
                | Did you know?
              p 
                | On average, data collected on websites is transfered through at least 5 third party servers without user's knowledge 
          hr          
          h4
            | Current State
          p  
            | While the internet has made it possible for anyone to publish content, the publishing tools themselves have become potential points of failure.
          br   
          h4
            | Conceptual Goal
          p  
            | As content online becomes more and more interchangeable for real world experience, social media companies and content providers will be the primary source of information for many people. It's up to us to dictate the terms of that situation in advance, and to stay vigilant for changes to the status quo.
          br
          h4
            | What we're doing today?
          p
            | 1. Develop more systems that are designed to promote open sharing of ideas, rather than the extraction of direct profit
          p
            | 2. Actively track and hold firms accountable for their influence 
          p
            | 3. Choose to engage only with communities and products that value open communication and freedom of speech
          p    
            | Check out our section on 
            a(href="finance")  finance 
            |  for more on how these systems can promote independance.
#decentralization.modal.about-modal.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4.modal-title Decentralization      
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') -
      .modal-body
        .agileits-w3layouts-info
          .w3header
            img.img-responsive(src='images/Energy_DigitalGovernance_1-02.png', alt='Digital Identity')
            br
            br
            .dyk
              h4
                | Did you know?
              p 
                | Almost half of US Energy production is wasted each year due to separate and uncooperative systems, and consumers foot the bill.
          hr          
          h4
            | Current State
          p  
            | Interoperability in technology refers to the design of systems as complimentary modules. Most of the infrastructure that we take for granted today is the result of a concerted effort to produce, distribute, and maintain individual component technologies.   
          br   
          h4
            | Conceptual Goal
          p  
            | Blockchain and Web 3.0 present an opportunity to create a system without the bottlenecks of the current model. By democratizing access and opening incentive structures, we can provide greater opportunity for everyone while making the system more stable.
          br
          h4
            | What we're doing today?
          p
            | 1. Smart contracts present some opportunities through modularization of different systems which provide symbiotic advantages 
          p
            | 2. Build and support new products as modular solutions, with integration as a design principle rather than just a feature
          p
            | 3. Build and support products that act as bridges between existing technology and new systems
          p    
            | Check out our section on 
            a(href="energy")  energy 
            |  for more on how these systems can promote independance.

                                                              
// //modal