// services
section.services
  .container
    .ser_tp
      .container.inside_services
        h2.heading-agileinfo
          | Education For Everyone
        p.margin
          | The Blockchain Institute was founded to promote the adoption, development, and use of blockchain technology. Blockchains help computers maintain large networks without centralized points of failure, and they're being used to build a new internet.
        p.margin
          | Our headquarters in Chicago, Illinois, USA (opening Fall 2018) will offer a forum for education and collaboration in the midwestern US.  
          br
        br
        br
        br    
        h2.heading-agileinfo
          | Our Team            
// //services