section.about
  div.left
    a.last(href='/healthcare.html')
      i.fa.fa-chevron-left
  div.right
    a.next(href='/education.html')
      i.fa.fa-chevron-right
  .container
    .row.ab-agile
      .col-md-6.aboutleft
        h3 Aid 
        p.para1
          | The international non-profit sector saves millions of lives every year, but accountability can be a real problem depending on where the funds are headed. 
          br
          | Blockchain solutions might provide a simple solution to this issue as we digitize performance assessments and modernize aid spending. 
        p
          i.fa.fa-check(aria-hidden='true')
          |  Accountability - Verify the truth. 
        p
          i.fa.fa-check(aria-hidden='true')
          |  Privacy - Control who can see what, and when.
        p
          i.fa.fa-check(aria-hidden='true')
          |  Tamperproof - Goodbye forgery!
      .col-md-6.aboutright
        img.img-responsive(src='images/aid.jpg', alt='')
    br
    br
    .clear


  // //wthree-mid      