// contact
section.mail
  .container.contactUs
    h2.heading-agileinfo.why_us
      | Contact
      .clear
    span.contactUsMessage
      br
      | The Blockchain Institute was founded to promote the adoption, development, and use of blockchain technology. 
      br
      .clear
    .row.agileits_mail_grids
      .col-md-7.agileits_mail_grid_left
        form(action='#', method='post')
          input(type='text', name='Name', placeholder='Name...', required='')
          input(type='email', name='Email', placeholder='Email...', required='')
          input(type='text', name='Phone', placeholder='Phone...', required='')
          textarea(placeholder='Message...', name='Message')
          input(type='submit', value='Send message')
      .col-md-5.agileits_mail_grid_right
        .agile-map
          iframe(src='https://www.google.com/maps/embed/v1/place?q=4649+n+broadway+chicago+il+60640&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8', allowfullscreen='')
        .left-agileits
          h3 Address
          ul
            li
              span.fa.fa-home(aria-hidden='true')
              | 4649 N Broadway, Chicago, IL.
            li
              span.fa.fa-envelope(aria-hidden='true')
              a(href='mailto:info@theblockchaininstitute.org') info@theblockchaininstitute.org
// //contact