// contact
section.mail(ng-app='mailManager')
  .container.contactUs
    h2.heading-agileinfo.why_us
      | Contact
      .clear
    span.contactUsMessage
      br
      | The Blockchain Institute was founded to promote the adoption, development, and use of blockchain technology and is located in Chicago's diverse Uptown neighborhood.
      br
      .clear
    .row.agileits_mail_grids
      .col-md-7.agileits_mail_grid_left(ng-controller='mailCtrl')
        div.successMessage(class=' {{display.successMessage}}')
          h1 Thanks for reaching out! A member of our team will be in touch soon!
        div.errorMessage(class=' {{display.errorMessage}}')
          h1 There was an issue submitting your form. Please refresh the page and try again. 
        div.sendStatus 
          h1 {{status}}
        form(class='{{display.contactForm}}', ng-submit='submit()')
          input(type='text', name='Name', ng-model='name', placeholder='Name...', required='')
          input(type='email', name='Email', ng-model='email', placeholder='Email...', required='')
          input(type='text', name='Phone', ng-model='phone' placeholder='Phone...', required='')
          textarea(placeholder='Message...', ng-model='comment', name='Message')
          div(vc-recaptcha='', theme="'light'", key='key', on-create='setWidgetId(widgetId)', on-success='setResponse(response)', on-expire='cbExpiration()')   
          br
          input(type='submit', value='{{submitButton}}' )
          br 

      .col-md-5.agileits_mail_grid_right
        .agile-map
          iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2966.5586100155974!2d-87.66023604874975!3d41.96681487911324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd3d2cca04c9f%3A0xcb427cba87fb1934!2s4649+North+Broadway%2C+Chicago%2C+IL+60640!5e0!3m2!1sen!2sus!4v1527783194863', allowfullscreen='')
        .left-agileits
          h3 Address
          ul
            li
              span.fa.fa-home(aria-hidden='true')
              | 4649 N Broadway, Chicago, IL.
            li
              span.fa.fa-envelope(aria-hidden='true')
              a(href='mailto:info@theblockchaininstitute.org') info@theblockchaininstitute.org
// //contact