// contact
section.mail
  .container.contactUs
    h2.heading-agileinfo.why_us
      | Contact
      .clear
    span.contactUsMessage
      br
      | The Blockchain Institute was founded to promote the adoption, development, and use of blockchain technology and is located in Chicago's diverse Uptown neighborhood.
      br
      .clear
    .row.agileits_mail_grids
      .col-md-7.agileits_mail_grid_left
        form(action='#', method='post')
          input(type='text', name='Name', placeholder='Name...', required='')
          input(type='email', name='Email', placeholder='Email...', required='')
          input(type='text', name='Phone', placeholder='Phone...', required='')
          textarea(placeholder='Message...', name='Message')
          input(type='submit', value='Send message')
      .col-md-5.agileits_mail_grid_right
        .agile-map
          iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2966.565231583778!2d-87.66012254874983!3d41.96667267911321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd3d2cbae5df5%3A0xaf8d97c839a26298!2s4643+N+Broadway+St%2C+Chicago%2C+IL+60640!5e0!3m2!1sen!2sus!4v1526658545287', allowfullscreen='')
        .left-agileits
          h3 Address
          ul
            li
              span.fa.fa-home(aria-hidden='true')
              | 4649 N Broadway, Chicago, IL.
            li
              span.fa.fa-envelope(aria-hidden='true')
              a(href='mailto:info@theblockchaininstitute.org') info@theblockchaininstitute.org
// //contact