section.about
  div.left
    a.last(href='/philanthropy')
      i.fa.fa-chevron-left
  div.right
    a.next(href='/energy')
      i.fa.fa-chevron-right
  .container
    .row.ab-agile
      .col-md-6.aboutleft
        h3 Education 
        p.para1
          | Technology has significantly impacted the education sector in the last few decades. When computers became more popular and easy to access, it changed how we present information in an educational setting. Students began typing presentations and essays, rather than writing them by hand. As information databases became more developed, we slowly transitioned to using online sources for information, rather than using encyclopedias or dictionaries.
          br
          br
          | The blockchain revolution has the potential to do the same for achievement tracking. 
        p
          i.fa.fa-check(aria-hidden='true')
          |  Live tracking of learning progress
        p
          i.fa.fa-check(aria-hidden='true')
          |  Integrated feedback to educators and parents
        p
          i.fa.fa-check(aria-hidden='true')
          |  Content consistency

      .col-md-6.aboutright
        img.img-responsive(src='images/education.jpeg', alt='')
    br
    br
    .clear


  // //wthree-mid      