section.about
  div.left
    a.last(href='/supply-chain')
      i.fa.fa-chevron-left
  div.right
    a.next(href='/energy')
      i.fa.fa-chevron-right
  .container
    .row.ab-agile
      .col-md-6.aboutleft
        p.para1
          | Technology has significantly impacted the education sector in the last few decades. When computers became more popular and easier to access, it changed how we present information in an educational setting. Students began typing presentations and essays, rather than writing them by hand. As information databases became more developed, we slowly transitioned to using online sources for information, rather than using encyclopedias or dictionaries.
          br
          br
          | Blockchain technology has the potential to disrupt the education process as much as the introduction of the internet. This alternative method of storing and transferring data looks to bring a greater level of efficiency and efficacy to students and teachers alike.
        p
          i.fa.fa-check(aria-hidden='true')
          |  Live tracking of learning progress
        p
          i.fa.fa-check(aria-hidden='true')
          |  Integrated feedback to educators and parents
        p
          i.fa.fa-check(aria-hidden='true')
          |  Content consistency
        br
        p.para1.boldItalic
          | If you're interested in learning more, you might want to check out the projects 
          a.externaLink(href='#', data-toggle='modal', data-target='#blockcerts') Blockcerts 
          | , and 
          a.externaLink(href='#', data-toggle='modal', data-target='#learningisearning') Learning is Earning
          | , or sign up for our mailing list in the footer!

      .col-md-6.aboutright
        img.img-responsive(src='images/education.png', alt='')
    br
    br
    .clear


  // //wthree-mid      