section.about
  div.left
    a.last(href='/education')
      i.fa.fa-chevron-left
  div.right
    a.next(href='/finance')
      i.fa.fa-chevron-right
  .container
    .row.ab-agile
      .col-md-6.aboutleft
        h3 Energy 
        p.para1
          | New technology like solar and wind generation is enabling individuals everywhere to take control of their energy usage. 
          br
          br
          | The problem? Tracking energy production and assigning value is complicated, and the current centralized system has not been open to compromise. 
        p
          i.fa.fa-check(aria-hidden='true')
          |  Live tracking of energy production
        p
          i.fa.fa-check(aria-hidden='true')
          |  Energy can be traded on global markets
        p
          i.fa.fa-check(aria-hidden='true')
          |  Malicious activity is easily tracked
      .col-md-6.aboutright
        img.img-responsive(src='images/wind-farm.jpg', alt='')
    br
    br
    .clear



  // //wthree-mid      