section.about
  div.left
    a.last(href='/energy')
      i.fa.fa-chevron-left
  div.right
    a.next(href='/healthcare')
      i.fa.fa-chevron-right
  .container
    .row.ab-agile
      .col-md-6.aboutleft
        h3 Finance 
        p.para1
          | Considering that blockchain is a concept derived from cryptocurrency, it's easy to imagine that the financial sector will see a wide range of applications. 
          br
          br
          | The financial sector is ripe for disruption. Whether it's access to banking resources, credit, or the ability to transact in the global economy, blockchain offers a wide range of potential solutions.  
          br        
        p
          i.fa.fa-check(aria-hidden='true')
          |  Instant - Gone are the days of 5 day bank transfers!
        p
          i.fa.fa-check(aria-hidden='true')
          |  Global - The internet shouldn't have borders!
        p
          i.fa.fa-check(aria-hidden='true')
          |  Open - The only barrier to entry is an internet connection and the desire to learn.
      .col-md-6.aboutright
        img.img-responsive(src='images/unbanked.png', alt='')
    br
    br
    .clear



  // //wthree-mid      