section.about
  div.left
    a.last(href='/energy')
      i.fa.fa-chevron-left
  div.right
    a.next(href='/healthcare')
      i.fa.fa-chevron-right
  .container
    .row.ab-agile
      .col-md-6.aboutleft
        p.para1
          | Considering that blockchain is a concept derived from cryptocurrency, it's easy to imagine that the financial sector will see a wide range of applications. 
          br
          br
          | The current financial system was never created to support a global economy, let alone the internet. Blockchains leverage the power of modern computer technology to create a new option.
          br        
        p
          i.fa.fa-check(aria-hidden='true')
          | Improved access to banking services
        p
          i.fa.fa-check(aria-hidden='true')
          | Lower international transaction fees
        p
          i.fa.fa-check(aria-hidden='true')
          | Faster international transactions 
        p
          i.fa.fa-check(aria-hidden='true')
          | Direct software integrations
        p.para1.boldItalic
          | If you're interested in learning more, you might want to check out the projects 
          a.externaLink(href='#', data-toggle='modal', data-target='#humaniq') Humaniq
          |  and
          a.externaLink(href='#', data-toggle='modal', data-target='#stellar')  Stellar
          | , or sign up for our mailing list in the footer!

      .col-md-6.aboutright
        img.img-responsive(src='images/unbanked.png', alt='')
    br
    br
    .clear



  // //wthree-mid      