header
  #sideNav.sidenav
      ul.navbar-nav(class="#{nav}")
        li.nav-item(class="home")
          a.nav-link.mobi(href='/')
            | Home 
        hr
        li.nav-item.dropdown(class="industries")
          a#navbarDropdown.nav-link.mobi(href='#', role='button', data-toggle='dropdown', aria-haspopup='true')
            | Impact
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item.mobi(href='education') Education
              .dropdown-divider
              a.dropdown-item.mobi(href='energy') Energy
              .dropdown-divider
              a.dropdown-item.mobi(href='finance') Finance
              .dropdown-divider
              a.dropdown-item.mobi(href='healthcare') Healthcare
              .dropdown-divider
              a.dropdown-item.mobi(href='philanthropy') Philanthropy  
              a.dropdown-item.mobi(href='supply-chain') Supply Chain           
            hr            
        li.nav-item(class="contact")
          a.nav-link.mobi(href='contact') Contact
  .header-bar
    .container
      nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
        #mobiNav.button.navbar-toggler.navbar-toggler-right( onclick='toggleNav()') 
          span.navbar-toggler-icon
        .hedder-up
          div.nav_logo_container
            a.nav-link(href='/')
              img.nav_logo(src="images/logo_color.jpg" alt="The Blockchain Institute")
        #navbarSupportedContent.collapse.navbar-collapse.justify-content-end
          ul.navbar-nav(class="#{nav}")
            li.nav-item(class="home")
              a.nav-link(href='/')
                | Home 
            //- li.nav-item(class="news")
            //-   a.nav-link(href='news') News 
            li.nav-item.dropdown(class="industries")
              a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Impact
              .dropdown-menu(aria-labelledby='navbarDropdown')
                a.dropdown-item(href='education') Education
                .dropdown-divider
                a.dropdown-item(href='energy') Energy
                .dropdown-divider
                a.dropdown-item(href='finance') Finance
                .dropdown-divider
                a.dropdown-item(href='healthcare') Healthcare
                .dropdown-divider
                a.dropdown-item(href='philanthropy') Philanthropy     
                .dropdown-divider         
                a.dropdown-item(href='supply-chain') Supply Chain              


            li.nav-item(class="contact")
              a.nav-link(href='contact') Contact
          //- .w3_agile_login
          //-   .cd-main-header
          //-     a.cd-search-trigger(href='#cd-search')
          //-       span
          //-     // cd-header-buttons
          //-   #cd-search.cd-search
          //-     form(action='#', method='post')
          //-       input(name='Search', type='search', placeholder='Search...')
        .clearfix  
  // //Navigation