section.about
  div.left
    a.last(href='/finance.html')
      i.fa.fa-chevron-left
  div.right
    a.next(href='/aid.html')
      i.fa.fa-chevron-right
  .container
    .row.ab-agile
      .col-md-6.aboutleft
        h3 Healthcare 
        p.para1
          | The healthcare industry is currently set to face a massive overhaul. With change knocking on the doorstep, it really begs the question: how will technology have its hand in shaping this transformation? 
          br
          | When it comes to data privacy and security, blockchain might be the answer we've all been waiting for. 
        p
          i.fa.fa-check(aria-hidden='true')
          |  History - Never lose your medical records!
        p
          i.fa.fa-check(aria-hidden='true')
          |  Privacy - Control who can see what, and when.
        p
          i.fa.fa-check(aria-hidden='true')
          |  Tamperproof - Goodbye forgery!
      .col-md-6.aboutright
        img.img-responsive(src='images/hospital.jpg', alt='')
    br
    br
    .clear
  // //wthree-mid      