section.about
  div.left
    a.last(href='/finance')
      i.fa.fa-chevron-left
  div.right
    a.next(href='/philanthropy')
      i.fa.fa-chevron-right
  .container
    .row.ab-agile
      .col-md-6.aboutleft
        p.para1
          | The healthcare industry is currently set to face a massive overhaul. With change knocking on the doorstep, it really begs the question: how will technology have its hand in shaping this transformation? 
          br
          | When it comes to data privacy and security, blockchain might be the answer we've all been waiting for. 
        p
          i.fa.fa-check(aria-hidden='true')
          |  Increased data reliability and control
        p
          i.fa.fa-check(aria-hidden='true')
          |  Optimized care delivery
        p
          i.fa.fa-check(aria-hidden='true')
          |  Direct insurance integration
        p.para1.boldItalic
          | If you're interested in learning more, you might want to check out the projects 
          a.externaLink(href='#', data-toggle='modal', data-target='#simplyVital') SimplyVital
          |  and 
          a.externaLink(href='#', data-toggle='modal', data-target='#robomed') Robomed
          | , or sign up for our mailing list in the footer!

      .col-md-6.aboutright
        img.img-responsive(src='images/hospital.jpg', alt='')
    br
    br
    .clear
  // //wthree-mid      