// services
section.services
  .container
    .ser_tp
      .container.inside_services
        p.margin
          | Blockchains provide a framework for large networks of computers to develop a consensus. Since the inception of this technology in 2008 it's seen rapid adoption across a wide range of sectors. Click any of the icons below to learn more! 
          br
    .row.services-top-grids
      .col-md-4
        a(href='education')
          .grid1
            i.fas.fa-graduation-cap.f_con1
            h4 Education

      .col-md-4
        a(href='finance')
          .grid1.forhen
            i.fas.fa-dollar-sign.f_con
            h4 Finance

      .col-md-4
        a(href='philanthropy')
          .grid1
            i.fas.fa-university.f_con2
            h4 Philanthropy

      br      
    .row.services-top-grids
      .col-md-4
        a(href='energy')
          .grid1
            i.fas.fa-bolt.f_con3
            h4 Energy

      .col-md-4
        a(href='healthcare')
          .grid1.forhen
            i.fas.fa-medkit.f_con4
            h4 Healthcare

      .col-md-4
        a(href='supply-chain')
          .grid1
            i.fas.fa-truck.f_con5
            h4 Supply Chain
         
// //services