section.about
  .container
    .row.ab-agile
      .col-md-6.aboutleft
        h3 Industry Name
        p.para1
          | A brief summary of the industry should be entered here. Donec bibendum velit quis diam venenatis, vulputate aliquam sapien blandit.
          | Etiam dui massa, vehicula a convallis a, facilisis vitae neque.Pellentesque sit amet
          | odio quis libero eleifend congue at ac justo. Suspendisse posuere congue accumsan Vulputate aliquam sapien.
        p
          i.fa.fa-check(aria-hidden='true')
          |  Blockchain is great in this industry reason 1
        p
          i.fa.fa-check(aria-hidden='true')
          |  Blockchain is great in this industry reason 2
        p
          i.fa.fa-check(aria-hidden='true')
          |  Blockchain is great in this industry reason 3
      .col-md-6.aboutright
        img.img-responsive(src='images/g1.jpg', alt='')
    br
    br
    .clear
  // wthree-mid
  .wthree-mid
    .container
      h3 Big important industry call-out
      p
        | Standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
  .container
    .row.ab-agile
      br
      p 
      | The blockchain space has increasingly shown more applications for real-life use cases in a variety of fields. Every day, we see new changes to this growing genre of technological development, including many major companies coming out in support of blockchain technology and exploring their applicability. As information on blockchain technologies has reached more people, we have seen more ideas and development in and for blockchains, one of which lies in the expansive field of education.
    br
    .clear
    .row.ab-agile
      .col-md-6.aboutleft  
        img.img-responsive(src='images/g1.jpg', alt='')
      .col-md-6.aboutright    
        p 
        | Education is an interesting field to apply technological developments to. Currently, there are major debates about the true seat of control in education. Is it under states, federal, or districts domain? Education, being so ingrained in society as a government-run program, poses different problems and obstacles from other areas of society in which we can more readily apply technologies like blockchain.
        br
        br
        | Rather than focusing attentions on how we can better student learning and teacher preparedness and qualifications, the main focuses in education currently are surrounding appropriate testing, parent choices, accountability, and budgeting. Many teachers are already left with out-of-date computers, failing or broken technology, and a lack of enough resources for all students to have appropriate access. Plus, we outsource a great deal of our educational resources for public schools to major corporations that do not truly understand teachers and students needs in classrooms today. None of this leaves much room for discussions about innovations in education and in the classroom, although applicabile situations are prominent. Also, with educators busy schedules, it makes it hard for educators to spend time creating  tools and resources that are equal with the technological times we are currently growing into (we are already falling behind in using them). How can blockchains pose a solution to some of these problems?




  // //wthree-mid      