.banner1
// //banner
// news
section.mail
  .container
    h2.heading-agileinfo.why_us
    span
      | Businesses around the world are quickly realizing the value of blockchain and cryptocurrency as technical solutions. 
      br
      br
      | See our featured profiles below for more information on how blockchain is already changing the world! 