section.about
  .container
    .row.ab-agile
      .col-md-12.aboutleft
        .partnerLogo
          img.img-responsive(src='images/bob_meetup_logo.jpg', alt='')
        .partnerLogo
          img.img-responsive(src='images/velas-commerce-logo.png', alt='')
        .partnerLogo
          img.img-responsive(src='images/gordon-law-logo.png', alt='')
        .partnerLogo
          img.img-responsive(src='images/urban_array_logo.jpg', alt='')
    .clear

  // //wthree-mid      