section.about
  div.left
    a.last(href='/healthcare')
      i.fa.fa-chevron-left
  div.right
    a.next(href='/supply-chain')
      i.fa.fa-chevron-right
  .container
    .row.ab-agile
      .col-md-6.aboutleft
        h3 Philanthropy 
        p.para1
          | The international non-profit sector helps millions of people every year, but accountability can be a real problem depending on where the funds are headed. A high portion of international charities spend most of their funds on administrative fees - wouldn't it be good to know where your donations are going?
          br
          br
          | Blockchain solutions might provide a simple solution to this issue as we digitize performance assessments and modernize aid spending. 
        p
          i.fa.fa-check(aria-hidden='true')
          | Full transparency of donation spending
        p
          i.fa.fa-check(aria-hidden='true')
          | Open tracking of performance feedback
        p
          i.fa.fa-check(aria-hidden='true')
          | Streamlined donation and payment technology
      .col-md-6.aboutright
        img.img-responsive(src='images/aid.jpg', alt='')
    br
    br
    .clear


  // //wthree-mid      