section.about.services
  .container.profile
    .row.ab-agile
      .col-md-4.aboutleft.profile
        img.img-profile-pic(src='#{image}', alt='')        

      .col-md-6.aboutright.profile
        h2.profile
          | #{name}
        br
        h3.profile
          | #{title}
        hr
        p.para1
          | #{description}
    br
    br
    .clear
  // //wthree-mid      