section.about
  div.left
    a.last(href='/finance')
      i.fa.fa-chevron-left
  div.right
    a.next(href='/philanthropy')
      i.fa.fa-chevron-right
  .container
    .row.ab-agile
      .col-md-6.aboutleft
        p.para1
          | This is a person's profile who is good at stuff and things, and has experience with other stuff and things

      .col-md-6.aboutright
        img.img-profile-pic(src='images/hospital.jpg', alt='')        

    br
    br
    .clear
  // //wthree-mid      