section.about
  .container
    .row.ab-agile
      .col-md-6.aboutleft
        p.para1
          | Technology adoption happens incrementally, but resource availability makes all the difference. The Institute was founded to provide anyone with the tools they need to build and help others build.
        p
          i.fa.fa-check(aria-hidden='true')
          |  Curriculum Development
        p
          i.fa.fa-check(aria-hidden='true')
          |  Local Adoption Campaign
        p
          i.fa.fa-check(aria-hidden='true')
          |  Content Creator Studio  
        br
        p.para1.boldItalic
          | The Blockchain Institute is a proud sponsor of educational endeavors such as   
          a.externaLink(href='https://www.meetup.com/Bitcoin-Open-Blockchain-Community-Chicago/' target="_blank") The Chicago Bitcoin and Open Blockchain Meetup
          | , 
          a.externaLink(href='http://chicagoblockchainproject.com/voice-of-blockchain/' target="_blank") The Voice of Chicago Conference
          | , and online resources like  
          a.externaLink(href='https://blockchain.wtf/' target="_blank") Blockchain.wtf
          | , or sign up for our mailing list in the footer!

      .col-md-6.aboutright
        img.img-responsive(src='images/events.png', alt='')
      br
    .clear



  // //wthree-mid      