// services
section.services
  .container
    .ser_tp
      .container.inside_services
        h2.heading-agileinfo
          | Education For Everyone
        p.margin
          | The Blockchain Institute was founded to promote the adoption, development, and use of blockchain technology. Blockchains help computers maintain large networks without centralized points of failure, and they're being used to build a new internet.
        p.margin
          | Our headquarters in Chicago, Illinois, USA (opening Fall 2018) will offer a forum for education and collaboration in the midwestern US.  
          br
    .row.services-top-grids
      .col-md-4
        .grid1
          i.fas.fa-wrench.f_con1
          h4 Access
          p.justify
            | In a world where the internet connects us, everyone counts. The key to adoption is getting the right tools into the hands of the right people to start the trend.
          p.justify
            | We can start using a more secure alternative today, and you could be leading the way. 

          //- a(href='#', data-toggle='modal', data-target='#myModal') Read More
      .col-md-4
        .grid1.forhen
          i.fas.fa-graduation-cap.f_con
          h4 Education
          p.justify
            | Radically re-thinking how we share information isn't going to be easy. That's why we're working with local educators to sponsor initiatives and provide the resources that they need. 
          p.justify
            | To develop a new culture around security and privacy online, we need to include everyone. 
          //- a(href='#', data-toggle='modal', data-target='#myModal') Read More
      .col-md-4
        .grid1
          i.fas.fa-code.f_con2
          h4 Development
          p.justify
            | It's not easy to produce new technology. We're building software tools and simple guides to make it easier for everyone to participate.   
          p.justify
            | We're here to help!
          //- a(href='#', data-toggle='modal', data-target='#myModal') Read More
// //services