// Services
section.services-1
  .container
    h3.heading-agileinfo.why_us
      | Why blockchain?
    span.heading-agileinfo-span
      | This technology, originally conceived to support the Bitcoin network, allows computers to cooperate without a central authority. 
      br
      br
      .clear
    .row.service-grids
      .col-md-12.service_right_grid
        .row
          .col-md-4
            a(href='./philanthropy')    
              .innergrid1.transparency
                h3 Transparency
                p
                  | In a public blockchain, all interactions are common knowledge. Auditing and accountability of governments and nonprofits are one area where this could make a big difference. 
              br
            a(href='./finance')
              .innergrid1.independance
                h3 Independence
                p
                  | It can be hard to maintain control of your data online. Blockchain systems have the potential to make digital ownership and identity more secure.
              br

                            
          .col-md-4
            a(href='./supply-chain') 
              .innergrid1.verifiability
                h3 Verifiability
                p
                  | When data is tracked communally, it makes it much more difficult to rewrite the story and cover up wrongdoing.
              br
            a(href='./education') 
              .innergrid1.open
                h3 Openness
                p
                  | All you need is an internet connection. We're teaching the rest for free. 
                br
                p
                  | Everything else is up to you.
              br

          .col-md-4
            a(href='./energy') 
              .innergrid1.decentralization
                h3 Decentralization
                p
                  | There are a lot of drawbacks to having just a few big companies run the internet. Blockchain has the potential to democratize the way we build systems online.
              br
            a(href='./healthcare') 
              .innergrid1.collaboration
                h3 Collaboration
                p
                  | It can be hard to work together online, but in a trustless system all we have to do is follow the rules. The network ensures everyone plays fairly.
              br

// //Services