section.serv-grids
  .row
    .col-md-4.serv-grid1
      .inner_grid
        .centered_Grid
          h3 Supply Chain
          p
            | Do you even want to know where your food has been?
          a.readMoreButton(href='#', data-toggle='modal', data-target='#foodSafety') Read more
    .col-md-4.serv-grid3
      .inner_grid
        .centered_Grid
          h3 The Internet of Money
          p
            | As the economy moves online, maybe money should as well.
          a.readMoreButton(href='#', data-toggle='modal', data-target='#internetOfMoney') Read more
    .col-md-4.serv-grid2
      .inner_grid
        .centered_Grid
          h3 Digital Media Rights
          p
            | Online piracy unfortunately hurts small artists the most.
          a.readMoreButton(href='#', data-toggle='modal', data-target='#digitalRights') Read more
