// why choose us
section.special-w3l
  .container
    h3.heading-agileinfo.why_us
      | Services
    br
    span.heading-agileinfo-span.why_us
      | The Blockchain Institute will be opening our flagship location in Chicago in the fall of 2018, where we will host a wide range of events and services to support the growth of decentralized projects in Chicago. 
    br
    br
    br
    .clear
    .row.wthree-services-bottom-grids
      .col-lg-6
          .row.services-right-bottom-bottom
            .col-sm-2.services-bottom-icon
              i.fas.fa-calendar.teal
            .col-sm-10.services-bottom-info
              h5 Community Events
              ul 
                li  - Blockchain 101
                li  - Meetups
                li  - Hackathons

          .row.services-right-bottom-bottom
            .col-sm-2.services-bottom-icon
              i.fas.fa-file.teal
            .col-sm-10.services-bottom-info
              h5 Educational Resources	
              ul 
                li  - Developer Basics
                li  - Blockchain Theory
                li  - Seminars
          br
          .clear
      .col-lg-6
          .row.services-right-bottom-bottom
            .col-sm-2.services-bottom-icon
              i.fas.fa-check-circle.teal
            .col-sm-10.services-bottom-info.text-w3l
              h5 Certification
              ul 
                li  - Course Prep
                li  - Practice Tests
                li  - Study Sessions

          .row.services-right-bottom-bottom
            .col-sm-2.services-bottom-icon
              i.fa.fa-code-branch.teal
            .col-sm-10.services-bottom-info.text-w3l
              h5 Workshops
              ul 
                li  - Building Blockchain Businesses
                li  - Professional Development
                li  - Networking Events
          br
          .clear

// //why choose us