header
  #sideNav.sidenav
      ul.navbar-nav(class="#{nav}")
        li.nav-item(class="home")
          a.nav-link.mobi(href='/')
            | Home 
        hr
        li.nav-item.dropdown(class="industries")
          a#navbarDropdown.nav-link.mobi(href='#', role='button', data-toggle='dropdown', aria-haspopup='true')
            | Impact
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item.mobi(href='../web3') Web 3.0
              .dropdown-divider
              a.dropdown-item.mobi(href='/') Industries
              .dropdown-divider
            hr 
        li.nav-item.dropdown(class="industries")
          a#navbarDropdown.nav-link.mobi(href='#', role='button', data-toggle='dropdown', aria-haspopup='true')
            | Services
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item.mobi(href='../events') Events
              .dropdown-divider
              a.dropdown-item.mobi(href='../programs') Programs
              .dropdown-divider
            hr                        
        li.nav-item(class="industries")
          a.nav-link.mobi(href='/about') About
        br
        li.nav-item(class="industries")
          a.nav-link.mobi(href='/contact') Contact
        br
        hr
        br
        li.nav-item
          h3.nav-link.mobi 
          .footer-text.mobInfo
            p.mobInfo
              | The Blockchain Institute was founded to promote the adoption, development, and use of blockchain technology. 
            ul.social_section_1info.mobInfo
              li
                a(href='https://www.facebook.com/TheBlockchainInstitute')
                  i.fab.fa-facebook-f
              li
                a(href='https://twitter.com/Blockchain_EDU')
                  i.fab.fa-twitter
              li
                a(href='https://www.reddit.com/r/BlockchainInstitute')
                  i.fab.fa-reddit
  .header-bar
    .container
      nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
        #mobiNav.button.navbar-toggler.navbar-toggler-right( onclick='toggleNav()') 
          span.navbar-toggler-icon
        .hedder-up
          div.nav_logo_container
            a.nav-link(href='/')
              img.nav_logo(src="/images/logo_color.jpg" alt="The Blockchain Institute")
        #navbarSupportedContent.collapse.navbar-collapse.justify-content-end
          ul.navbar-nav(class="#{nav}")
            li.nav-item.dropdown(class="offerings")
              a#navbarDropdown.nav-link(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Services
              .dropdown-menu(aria-labelledby='navbarDropdown')
                a.dropdown-item(href='/programs') Programs
                .dropdown-divider
                a.dropdown-item(href='/events') Events  
            li.nav-item.dropdown(class="industries")
              a#navbarDropdown.nav-link(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Impact
              .dropdown-menu(aria-labelledby='navbarDropdown')
                a.dropdown-item(href='/web3') Web 3.0
                .dropdown-divider
                a.dropdown-item(href='/industries') Industries         
            li.nav-item(class="industries")
              a.nav-link(href='about')
                | About 
          //- .w3_agile_login
          //-   .cd-main-header
          //-     a.cd-search-trigger(href='#cd-search')
          //-       span
          //-     // cd-header-buttons
          //-   #cd-search.cd-search
          //-     form(action='#', method='post')
          //-       input(name='Search', type='search', placeholder='Search...')
        .clearfix  
  // //Navigation