section.about
  div.left
    a.last(href='/philanthropy')
      i.fa.fa-chevron-left
  div.right
    a.next(href='/education')
      i.fa.fa-chevron-right
  .container
    .row.ab-agile
      .col-md-6.aboutleft 
        p.para1
          | In the modern world, factories and production must integrate seamlessly with transport and logistics services. If something goes wrong, it can often be hard to identify the problem until it's too late. 
          br
          br
          | Tracking delivery of goods can only go so far, because the information still needs to be stored somewhere. That's where blockchain can help. 
        p
          i.fa.fa-check(aria-hidden='true')
          |  Live tracking from production to delivery
        p
          i.fa.fa-check(aria-hidden='true')
          |  Automatic data entry 
        p
          i.fa.fa-check(aria-hidden='true')
          |  Transparent and open networks
        p.para1.boldItalic
          | If you're interested in learning more, you might want to check out the projects 
          a.externaLink(href='#', data-toggle='modal', data-target='#ibmblockchain') IBM Blockchain
          |  and
          a.externaLink(href='#', data-toggle='modal', data-target='#modum')   Modum
          | , or sign up for our mailing list in the footer!
      .col-md-6.aboutright
        img.img-responsive(src='images/food_on_shelves_2.jpg', alt='')
      br
    br
    .clear


  // //wthree-mid      