.flex-parent
  .input-flex-container
    .input
      span(data-year='1960', data-info='DARPA')
    | &#x9;&#x9;
    .input
      span(data-year='1969', data-info="First 'e-mail'")
    | &#x9;&#x9;
    .input.active
      span(data-year='1990', data-info='HTML')
    | &#x9;&#x9;
    .input
      span(data-year='1992', data-info='AOL')
    | &#x9;&#x9;
    .input
      span(data-year='1993', data-info='First Web Browser')
    | &#x9;&#x9;
    .input
      span(data-year='1995', data-info='Yahoo, Match.com')
    | &#x9;&#x9;
    .input
      span(data-year='1998', data-info='Google')
    | &#x9;&#x9;
    .input
      span(data-year='2000', data-info="'The End of the Internet'")
    | &#x9;&#x9;
    .input
      span(data-year='2001-2003', data-info='Community Sites')
    | &#x9;&#x9;
    .input
      span(data-year='2004-2006', data-info='Social Media')
    | &#x9;&#x9;    
    .input
      span(data-year='2008', data-info='Banks Crash, Bitcoin')
    | &#x9;&#x9;
    .input
      span(data-year='2011', data-info="The 'Arab Spring'")
    | &#x9;&#x9;
    .input
      span(data-year='2013', data-info='Surveillance, Web 3.0')              
  | &#x9;
  .description-flex-container
    p US Military Researchers connect computers with telephone wire.
    | &#x9;&#x9;
    p The first message is sent on ARPANET from UCLA to the Stanford Research Institute. At this time ARPANET linked UCLA, UC Santa Barbara, Stanford and the University of UTAH.
    | &#x9;&#x9;
    p.active Tim Berners Lee proposes the concept of HTML, which enables 2D user interfaces to be transmitted efficiently over the web. 
    | &#x9;&#x9;
    p Dial-up Internet, originally a business or academic tool, is expanded to the general public via American OnLine (AOL)
    | &#x9;&#x9;
    p Marc Andreeson develops the Mosaic Web browser at the University of Champaign, Illinois. 
    | &#x9;&#x9;
    p Jerry Yang and David Filo launch Yahoo at Stanford University, Match.com is launched, and the term Internet is first defined by The Federal Networking Council.
    | &#x9;&#x9;
    p Google launches, IPV6 is introduced to expand the available web addresses, Paxos Protocol for Distributed Systems is published.
    | &#x9;&#x9;
    p "The Dot Com Bubble" Bursts
    | &#x9;&#x9;
    p Wikipedia.org is founded, providing the first open contribution database, and Wordpress launches, providing an open sourced platform for content creation and publishing.
    | &#x9;&#x9;
    p Facebook launches their initial platform "the Facebook". Twitter launches and Jack Dorsey tweets "just setting up my twttr"
    | &#x9;&#x9;
    p As US Financial Markets crash amid speculation and high risk, Satoshi Nakomoto publishes the Bitcoin whitepaper, proposing an alternative option. 
    | &#x9;&#x9;        
    p Social media companies, in particular Facebook and Twitter, are instrumental in political revolutions in nearly a dozen Arab and African countries. 
    | &#x9;&#x9;        
    p Edward Snowden flees the US after revealing that the NSA has been monitoring communications online in every capacity with no discretion for the rights of American Citizens or anyone else. Ethereum launches, offering an alternative to centralized software platforms.
    | &#x9;&#x9;    
    p The Blockchain Institute was founded to promote the use of public blockchains to develop a new and more open Internet.
    | &#x9;&#x9; 
  