.flex-parent
  .input-flex-container
    .input
      span(data-year='1960', data-info='DARPA')
    | &#x9;&#x9;
    .input
      span(data-year='1969', data-info="First 'e-mail'")
    | &#x9;&#x9;
    .input.active
      span(data-year='1990', data-info='HTML')
    | &#x9;&#x9;
    .input
      span(data-year='1992', data-info='AOL')
    | &#x9;&#x9;
    .input
      span(data-year='1993', data-info='First Web Browser')
    | &#x9;&#x9;
    .input
      span(data-year='1995', data-info='Yahoo, Match.com')
    | &#x9;&#x9;
    .input
      span(data-year='1998', data-info='Google, IPV6, Paxos')
    | &#x9;&#x9;
    .input
      span(data-year='2000', data-info="'The End of the Internet'")
    | &#x9;&#x9;
    .input
      span(data-year='2001-2006', data-info='Wikipedia, Wordpress, Facebook, Twitter')
    | &#x9;&#x9;
    .input
      span(data-year='2008', data-info='US Banks Crash, Bitcoin is Created')
    | &#x9;&#x9;
    .input
      span(data-year='2011', data-info="'Arab Spring'")
    | &#x9;&#x9;
    .input
      span(data-year='2013', data-info='Prysm, Snowden, Ethereum')              
  | &#x9;
  .description-flex-container
    p And future Call of Duty players would thank them.
    | &#x9;&#x9;
    p Because every kid should get to be Tarzan for a day.
    | &#x9;&#x9;
    p.active And the world rejoiced.
    | &#x9;&#x9;
    p Because building roads is inconvenient.
    | &#x9;&#x9;
    p Ain&rsquo;t nobody got time to rake.
    | &#x9;&#x9;
    p Because paper currency is for noobs.
    | &#x9;&#x9;
    p Nobody likes cords. Nobody.
    | &#x9;&#x9;
    p Brighter than glow memory.
    | &#x9;&#x9;
    p To capitalize on an as-yet nascent market for cat photos.
    | &#x9;&#x9;
    p Because organic search rankings take work.


  