// services
section.services
  .container
    .ser_tp
      .container.inside_services
        p.margin
          | The internet wasn't designed to be the core of our society. Web 3.0 puts the emphasis on user security so that digital rights match human rights. 
          br
    .row.services-top-grids
      .col-md-3
        a(href='#', data-toggle='modal', data-target='#internetOfValue')
          .grid1
            i.fas.fa-graduation-cap.w3con.f_con1_a
            h4 The Internet of Value
            p.justify The original idea for blockchain was to support Bitcoin, but it's going much further than that now. Blockchains are creating the a new form of trust online.
      .col-md-3
        a(href='#', data-toggle='modal', data-target='#digitalIdentity')
          .grid1.forhen
            i.fas.fa-lock.w3con.f_con_a
            h4 Digital Identity
            p.justify As systems move online, it's important to be able to prove who you are. Privacy and security need to be at the core of everything we build.
      .col-md-3
        a(href='#', data-toggle='modal', data-target='#digitalGovernance')
          .grid1
            i.fas.fa-bolt.w3con.f_con2_a
            h4 Digital Governance
            p.justify If the internet is to be the core of our society, it's important that we can connect directly, without intervention. 
      .col-md-3
        a(href='#', data-toggle='modal', data-target='#decentralization')
          .grid1
            i.fas.fa-cogs.w3con.f_con3_a
            h4 Decentralization
            p.justify Modular systems distribute prosperity more evenly, and ensure long term market pressure towards development. Blockchains make it easier for them to communicate over a common protocol. 
  .row._tile
      .col-md-4._tile.w3
        .inner_grid._tile.w3
          .centered_Grid
            h3 How did we get here?
            p
              | The internet is older than you might think!
  
      .col-md-8._tile.w3
        .inner_grid_wide._tile.w3
          iframe(class="timeline_iframe" src='timeline.html')
         
// //services