// services
section.services
  .container
    .ser_tp
      .container.inside_services
        p.margin
          | The internet wasn't designed to be the core of our society. Web 3.0 puts the emphasis on user security so that digital rights match human rights. 
          br
    .row.services-top-grids
      .col-md-3
        a(href='#', data-toggle='modal', data-target='#digitalRights')
          .grid1
            i.fas.fa-graduation-cap.f_con1
            h4 The Internet of Value
            p.justify
            | The original idea for blockchain was to support Bitcoin, but it's going much further than that now. Blockchains are creating the a new form of trust online.
      .col-md-3
        a(href='#', data-toggle='modal', data-target='#digitalRights')
          .grid1.forhen
            i.fas.fa-lock.f_con
            h4 Digital Identity
            p.justify
            | As systems move online, it's important to be able to prove who you are. Privacy and security need to be at the core of everything we build.
      .col-md-3
        a(href='#', data-toggle='modal', data-target='#digitalRights')
          .grid1
            i.fas.fa-bolt.f_con2
            h4 Digital Governance
            p.justify
            | If the internet is to be the core of our society, it's important that we can connect directly, without intervention. 
      .col-md-3
        a(href='#', data-toggle='modal', data-target='#digitalRights')
          .grid1
            i.fas.fa-cogs.f_con3
            h4 Decentralization
            p.justify
            | Modular systems distribute prosperity more evenly, and ensure long term market pressure towards development. Blockchains make it easier for them to communicate over a common protocol. 

         
// //services