section.about
  div.left
    a.last(href='/education')
      i.fa.fa-chevron-left
  div.right
    a.next(href='/finance')
      i.fa.fa-chevron-right
  .container
    .row.ab-agile
        .flex-parent
          .input-flex-container
            .input
              span(data-year="1960-1964", data-info="Telephones and Computers")     
            .input
              span(data-year="1964", data-info="DARPA")     
            .input.active
              span(data-year="1969", data-info="ARPANET")     
            .input
              span(data-year="1975", data-info="TCP/IP")     
            .input
              span(data-year="1983", data-info="DNS")     
            .input
              span(data-year="1986", data-info="NSFNET")     
            .input
              span(data-year="1990", data-info="HTML")     
            .input
              span(data-year="1992", data-info="Dial-Up - The Dark Days")     
            .input
              span(data-year="1993", data-info="The First Web Browser")     
            .input
              span(data-year="1995", data-info="Yahoo, Match.com")
            .input
              span(data-year="1997", data-info="Netflix")
            .input
              span(data-year="1998", data-info="Google")
            .input
              span(data-year="2000", data-info="'The Dot-Com Collapse'")
            .input
              span(data-year="2001", data-info="Wikipedia.org")
            .input
              span(data-year="2003", data-info="wordpress.org")
            .input
              span(data-year="2004", data-info="Facebook")
            .input
              span(data-year="2006", data-info="Twitter")
            .input
              span(data-year="2008", data-info="Bitcoin")
            .input
              span(data-year="2011", data-info="'The Arab Spring'")
            .input
              span(data-year="2013", data-info="Snowden, Ethereum")
            .input
              span(data-year="2018", data-info="The Blockchain Institute")
          |   
          .description-flex-container
            p Leonard Kleinrock proposes the concept of Packet Switching, which allows information to be sent along cables in a fashion similar to how trains are sent along railroads.
            |     
            p The first message is sent on ARPANET from UCLA to the Stanford Research Institute. At this time ARPANET linked UCLA, UC Santa Barbara, Stanford and the University of UTAH.
            |     
            p.active TCP / IP becomes more mainstream as the ARPANET grows internationally.
            |     
            p The Domain Name Service is created to allow websites to use names such as www.google.com instead of 123.456.789.10 which was the previous format.
            |     
            p The National Sciences Foundation launches NSFNET to allow government research organizations to send information from one location to another.
            |     
            p Tim Berners Lee proposes the concept of HTML, which enables 2D user interfaces to be transmitted efficiently over the web. 
            |     
            p Dial-up Internet, originally a business or academic tool, is expanded to the general public via American OnLine (AOL)
            |     
            p Marc Andreeson develops the Mosaic Web browser at the University of Champaign, Illinois. 
            |     
            p 
            | - Jerry Yang and David Filo launch Yahoo at Stanford University.
            | - Match.com is launched 
            | - The term Internet is first defined by The Federal Networking Council
            |     
            p Netflix launches
            |     
            p 
            | - Google launches
            | - IPV6 is introduced to expand the available web addresses.  
            p "The Dot Com Bubble Bursts"
            |     
            p Netflix launches
            |     
            p Wikipedia.org is founded, providing the first open contribution database. 
            |     
            p Wordpress launches, providing an open sourced platform for content creation and publishing.
            |     
            p Facebook launches their initial platform "the Facebook".
            |     
            p Twitter launches and Jack Dorsey tweets "just setting up my twttr"
            |     
            p Satoshi Nakomoto publishes the Bitcoin whitepaper in response to the US financial crash
            |     
            p Social media companies, in particular Facebook and Twitter, are instrumental in political revolutions in nearly a dozen Arab and African countries.
        div(style="position: absolute; bottom: 40px; right: 10px; font-size: 12px")
          a(href="https://codepen.io/cjl750/pen/XMyRoB", target="_blank") original version with slinky mobile menu
        div(style="position: absolute; bottom: 15px; right: 10px; font-size: 12px")
          a(href="https://codepen.io/cjl750/pen/wdVxzV", target="_blank") alternate version with custom range input
        div(style="position: absolute; bottom: 15px; left: 10px; font-size: 18px; font-weight: bold")
          a(href="https://codepen.io/cjl750/pen/MXvYmg", target="_blank") version 4: pure CSS!
    br
    br
    .clear
    br
    br
    .clear
    .row.ab-agile
      .col-md-6.aboutleft
        p.para1
          | Recent history has proven that energy is a rapidly evolving sector. New technology like solar and wind generation is enabling individuals everywhere to take control of their energy usage, but the existing centralized grid cannot support these new alternatives.
          br
          br
          | The problem? Tracking energy production and assigning value is complicated, and the current centralized systems have not been open to compromise. 
        p
          i.fa.fa-check(aria-hidden='true')
          |  Live tracking of energy production
        p
          i.fa.fa-check(aria-hidden='true')
          |  Open and transparent markets
        p
          i.fa.fa-check(aria-hidden='true')
          |  Reduced waste and downtime     
        br
        p.para1.boldItalic
          | If you're interested in learning more, you might want to check out the projects 
          a.externaLink(href='#', data-toggle='modal', data-target='#powerLedger') Power Ledger
          | , 
          a.externaLink(href='#', data-toggle='modal', data-target='#electron') Electron
          | , and 
          a.externaLink(href='#', data-toggle='modal', data-target='#singularity') Singularity
          | , or sign up for our mailing list in the footer!

      .col-md-6.aboutright
        img.img-responsive(src='images/energy_lightbulb.png', alt='')
    br
    br
    .clear



  // //wthree-mid      