extends /layouts/event

block title
    title
      | Events | Blockchain Institute

block description
  meta(name='description', content='Information about distributed ledger technology and how it will impact your life.')

block content
  - var nav = "events";
  - var bannerMsg = "Events";
  - var bannerFocus = "";
  - var bannerImage = "/images/events-banner.png";
  - var home = 'nothome';
  - var sectionImage = "/images/web3_5.jpeg";

  include /includes/header

  - var name1 = "The Voice of Blockchain";
  - var title1 = "";
  - var description1 = "The Voice of Blockchain is Chicago's premier blockchain education conference.";
  - var date1 = "August 23";  
  - var image1 = "/images/cbp.png";  

  - var name2 = "Girlcon";
  - var title2 = "";
  - var description2 = "The Annual Conference for STEM Education for Young Women in Chicago";
  - var date2 = "June 16";  
  - var image2 = "/images/girlcon.png";  

  - var name3 = "Pizza Day";
  - var title3 = "";
  - var description3 = "The annual celebration of the first ever Bitcoin purchase.";
  - var date3 = "May 22";  
  - var image3 = "/images/bob_meetup_pizza_day.jpeg";  

  include /includes/events/home/events
  //- include /includes/tiles
  








