extends /layouts/event

block title
    title
      | Events | Blockchain Institute

block description
  meta(name='description', content='Information about distributed ledger technology and how it will impact your life.')

block content
  - var nav = "events";
  - var bannerMsg = "Events";
  - var bannerFocus = "";
  - var bannerImage = "/images/events-banner.png";
  - var home = 'nothome';
  - var sectionImage = "/images/web3_5.jpeg";

  include /includes/header

  - var name1 = "The Voice of Blockchain";
  - var title1 = "";
  - var description1 = "The Voice of Blockchain is Chicago's premier blockchain education conference.";
  - var date1 = "August 23";  
  - var image1 = "/images/cbp.png";  
  - var link1 = "#voiceOfBlockchain";

  - var name2 = "International Blockchain Congress";
  - var title2 = "";
  - var description2 = "";
  - var date2 = "August 17";  
  - var image2 = "/images/ibcongress.png";
  - var link2 = "#ibc";  

  - var name3 = "Bitcoin Standard Book Signing";
  - var title3 = "";
  - var description3 = "";
  - var date3 = "August 11";  
  - var image3 = "/images/bitcoinStandard.jpeg";  
  - var link3 = "#bitcoinStandard";

  - var name4 = "Girlcon";
  - var title4 = "";
  - var description4 = "The Annual Conference for STEM Education for Young Women in Chicago";
  - var date4 = "June 16";  
  - var image4 = "/images/girlcon.png";
  - var link4 = "#girlCon";  

  - var name5 = "Pizza Day";
  - var title5 = "";
  - var description5 = "The annual celebration of the first ever Bitcoin purchase.";
  - var date5 = "May 22";  
  - var image5 = "/images/bob_meetup_pizza_day.jpeg";  
  - var link5 = "#pizzaDay";  

  include /includes/events/home/events
  //- include /includes/tiles
  








